.event_card {
  .event_card_wrapper {
    border-radius: 8px;
  }
  .card_info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;
    h3 {
      color: var(--font-primary);
    }

    h3,
    p {
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      line-height: 1.3;
    }

    .tag {
      text-align: center;
    }

    .dot {
      height: 4px;
      width: 4px;
      border-radius: 50%;
      background-color: var(--font-secondary);
    }

    img {
      width: 300px;
      height: auto;
      border-radius: 8px;
    }
    > div:first-child {
      display: flex;
      align-items: flex-start;
      gap: 40px;
    }
    > button {
      height: 40px;
      width: 200px;
    }
  }
}

.events_banner,
.banner_Wrapper {
  padding: 20px 0px;
  max-width: var(--marketing-container-width);
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.banner_Wrapper {
  padding: 100px 0px 20px 0px;
}

.event_info_wrapper {
  max-width: var(--marketing-container-width);
  margin: 0 auto;
  padding: 20px 0px;

  .event_info_space {
    width: 100%;
  }
  a {
    color: var(--btn-primary);
    i {
      line-height: 0;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  .event_info_content {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    button {
      width: 100%;
    }
  }
  .description_content {
    li {
      color: var(--font-secondary);
    }
    p {
      line-height: 1.4;
      margin: 0;
      padding: 0;
      color: var(--font-secondary);
    }
  }
}

.event_title_card {
  width: 100%;
  border-radius: 8px;
  h2 {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  p {
    color: var(--font-secondary);
  }
}

.event_registration_card_wrapper {
  width: 300px;
  border-radius: 8px;
  color: var(--font-secondary);

  .card_info {
    width: 100%;
  }
  a {
    margin: 5px 0px 5px 18px;
    font-size: 1.2rem;
  }
  i {
    line-height: 0;
    font-size: 1.2rem;
  }
  .location {
    font-size: 1.2rem;
  }
  h4 {
    color: var(--font-primary);
    margin: 5px 0px 5px 18px;
    padding: 0;
  }
  .event_mode_tag {
    width: 70px;
    margin: 5px 0px 5px 18px;
    padding: 5px 10px;
    color: var(--font-primary);
    font-size: 1.2rem;
  }

  button {
    width: 300px;
  }
}

.events_list_wrapper,
.event_list_info_wrapper {
  max-width: var(--container-width);

  margin: 20px 40px;
}
.events_wrapper {
  max-width: var(--marketing-container-width);
  margin: 0 auto;
}

.event_access_comment {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  &:hover {
    border: 1px solid var(--btn-primary);
  }
}

@media only screen and (max-width: 435px) {
  .event_list_wrapper {
    max-width: calc(100vw - 40px);
  }
  .event_header {
    display: none;
  }
  .event_list_info_wrapper {
    margin: 0;
  }
  .events_list_wrapper {
    max-width: calc(100vw - 40px);

    margin: 0 auto 80px auto;
  }
  .breadcrumb {
    display: none;
  }

  .events_wrapper {
    max-width: calc(100vw - 40px);

    margin: 0 auto;
  }
  .event_card {
    .event_card_wrapper {
      max-width: calc(100vw - 40px);
    }
    .card_info {
      flex-direction: column;
      gap: 20px;
      width: 100%;
      h3 {
        color: var(--font-primary);
      }

      h3,
      p {
        margin: 0;
        padding: 0;
        max-width: 300px;
        flex-wrap: wrap;
      }

      img {
        width: 100%;
      }
      > div:first-child {
        flex-direction: column;
        gap: 20px;
      }
      button {
        width: calc(100vw - 80px);
      }
    }
  }

  .event_header {
    max-width: calc(100vw - 40px);
    height: auto;
  }

  .events_banner,
  .banner_Wrapper {
    max-width: calc(100vw - 40px);
    height: auto;
    img {
      max-width: calc(100vw - 40px);

      height: auto;
      border-radius: 8px;
    }
  }

  .event_info_wrapper {
    max-width: calc(100vw - 40px);
    margin: 0 auto;

    .event_info_content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 40px;
      color: var(--font-secondary);
      h2 {
        font-size: 1.2rem;
      }
      button {
        width: 100%;
      }
    }
    .description_content {
      max-width: calc(100vw - 40px);
      ul {
        color: var(--font-secondary);
      }

      p {
        font-size: 13px;
      }
    }
  }

  .event_title_card {
    width: 100%;
    margin: 0 auto;
    // h1 {
    //   font-size: 1.5rem;
    // }
  }

  .event_registration_card_wrapper {
    width: calc(100vw - 40px);

    margin: 0 auto;
    button {
      width: calc(100vw - 80px);
    }
  }
}
