.footerContainer {
  background-color: #000;
  color: #fff;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 120px;
    align-items: flex-start;
    h1 {
      color: #fff;
    }
    > div:first-child {
      display: flex;
      flex-direction: column;
      .socialIcons {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .linkWrapper {
      display: flex;
      gap: 120px;
      .linkList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .title {
          margin-top: 5px;
          font-size: 16px;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            padding-top: 10px;
            color: var(--font-footer);
            cursor: pointer;
            &:hover {
              color: var(--hover-text);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .footerContainer {
    footer {
      gap: 40px;

      flex-direction: column-reverse;

      > div:first-child {
        flex-direction: row;
        align-items: center;
        gap: 60px;

        .socialIcons {
          margin: 0;
        }
      }
      .linkWrapper {
        display: grid;

        grid-template-columns: repeat(2, 1fr);

        flex-direction: column;

        gap: 40px;

        .linkList {
          flex-direction: column;
          .title {
            font-size: 16px;
          }
        }
      }
    }
  }
}
