.about_course_page {
  padding: 60px 0;
  min-height: 100vh;
  background-color: #f0f0f0;
  .center_content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0 60px;
  }
  .course_header {
    padding: 50px 0;
    background-image: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
    .center_content {
      display: flex;
      gap: 0 30px;

      .course_icon {
        width: 200px;
        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .course_title {
        font-size: 1.6rem;
        color: #fff;
      }
      .course_desc {
        color: var(--secondary);
        font-size: 1.1rem;
        max-width: 700px;
        margin-bottom: 30px;
      }

      .label {
        color: var(--secondary);
      }
      .enrolled_btn {
        padding: 0 60px;
      }
    }
  }

  .course_content {
    padding: 20px;

    .side_nav_menu {
      border: none;
      background-color: transparent;
    }

    .side_navigaton {
      .course_info_segment {
        display: none;
      }
    }

    .list_of_chapters {
      display: none;
    }
    .side_nav_content {
      width: 100%;

      .resource_label {
        margin-bottom: 20px;
      }

      .chapter_resources {
        display: flex;
        flex-direction: column;
        .lecture_item {
          width: 500px;
          background-color: #fff;
          padding: 10px 6px;
          border: 1px solid #eee;
          position: relative;
          .lecture_time {
            color: var(--primary);
            font-weight: 500;
          }
          .lecture_name {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .about_course_page {
    .course_header {
      padding: 50px 20px;
      .center_content {
        flex-direction: column;
        gap: 20px 0;
        .course_icon {
          width: 120px;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .course_title {
          line-height: 1.4;
        }
        .course_desc {
          line-height: 1.4;
        }
        .course_stats {
          width: 100%;
          flex-direction: column;
          gap: 10px 0 !important;
          align-items: baseline;
        }
      }
    }

    .course_content {
      .center_content {
        flex-direction: column;
      }
      .side_navigaton {
        .side_nav_menu {
          display: none;
        }
        .course_info_segment {
          display: block;
          margin-bottom: 20px;
        }
      }

      .list_of_chapters {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        gap: 10px;
        .chapter_item {
          padding: 5px 10px;
          min-width: 98px;
          border-radius: 4px;
        }
        .selected_chapter {
          background-color: rgb(160, 193, 246);
          color: #000;
        }
        .notselected_chapter {
          background-color: rgb(61, 83, 120);
          color: #fff;
        }
      }
      .side_nav_content {
        .chapter_resources {
          .lecture_item {
            max-width: 100%;
          }
        }
      }
    }
  }
}
