.add_chapter_wrapper {
  .headerWrapper {
    background-color: var(--bg-primary);
  }
  .body {
    background-color: var(--bg-secondary);
  }
  .footer {
    background-color: var(--bg-primary);
    border: var(--border-color);
  }
}
