.add_course_page {
  background-color: var(--bg-secondary);
  min-height: 100vh;
  .add_course_wrapper {
    padding: 100px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 0 50px;

    .sider_menu {
      background: transparent;
      border-right: none;
    }

    .add_course_form {
      width: 100%;

      label {
        color: var(--font-primary);
      }
      input {
        color: var(--font-secondary);
      }

      .course_icon {
        background-color: var(--font-primary);

        border-radius: 8px;
        padding: 5px;
        margin-bottom: 4px;
      }
      Button {
        background-color: var(--font-primary);
        color: var(--bg-primary);
      }
    }

    .chapter_items {
      margin-bottom: 20px;
      .chapter_item {
        background: #fff;
        width: 100%;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        border-left: 3px solid transparent;
        img {
          margin-right: 6px;
        }

        .chapter_name {
          font-weight: 600;
        }

        .edit_chapter {
          float: right;
        }
      }
    }

    .add_chapter_section {
      padding: 20px;
      .add_course_steps {
        margin-bottom: 30px;
      }

      .resource_itmes {
        margin-bottom: 20px;
        .resource_item {
          background-color: #fff;
          width: 100%;
          justify-content: space-between;
          padding: 10px 15px;
          border-bottom: 1px solid #eee;
          cursor: pointer;
          border-left: 3px solid transparent;
          position: relative;
          .resource_no {
            position: absolute;
            right: 13px;
            bottom: 5px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 1px solid #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1677ff;
            color: #fff;
            font-size: 12px;
          }
          img {
            margin-right: 6px;
          }

          .resource_name {
            font-weight: 600;
          }

          .edit_resource {
            float: right;
          }
        }
      }

      .add_resource_section {
        padding: 20px;
      }
    }
  }
  .add_course_footer {
    // max-width: 1100px;
    // margin: 0 auto;
    border-top: 1px solid var(--border-color);
    padding: 15px 180px;

    .footer_actions_btn {
      .btn_done,
      .btn_delete {
        padding: 0 40px;
        background-color: var(--delete-button);
        color: var(--bg-primary);
      }
      .btn_done {
        background-color: var(--font-primary);
        color: var(--bg-primary);
      }
      display: flex;
      gap: 0 20px;
      justify-content: flex-end;
    }
  }
}

.newResDetails {
  .video_upload {
    width: 336px;
    background-color: red;
  }
  .footerBtn {
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  > div:first-child {
    > div {
      padding: 0;
    }
  }
  .resSelected {
    background-color: var(--bg-secondary);
    color: var(--bg-secondary);
  }
  .resorceListWrapper {
    min-height: 48px;
    color: var(--font-primary);
    min-width: 400px;
    padding: 5px 10px;
    display: flex;
    line-height: 1.5;
    align-items: center;
    border: 1px solid var(--bg-secondary);
    .ellipsisOutlined {
      font-size: 1.4rem;
      cursor: pointer;
      transform: rotate(90deg);
    }
    .resourceListContent {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    justify-content: space-between;
    // line-height: 1.2;
    .icons {
      font-size: 1.8rem;
    }
  }
  .drawerHeader {
    .ant-drawer-header {
      padding: 0;
    }
    .resorceListWrapper {
      border-bottom: none;
      border-left: none;
      border-top: none;
      min-width: 399px;
      font-weight: normal;
      line-height: 1.3;
      .ellipsisOutlined {
        display: none;
      }
      border-right: 1px solid var(--bg-secondary);
    }

    min-height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--bg-secondary);
    .drawerTitle {
      padding: 10px;
      color: var(--font-primary);
    }
  }
  .drawerContainer {
    padding-bottom: 10px;
    padding: 0px 30px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
}
