.addNewProgram {
  background-color: var(--bg-secondary);
  height: 100vh;
  padding: 20px;
  margin-top: 50px;
  position: relative;

  .newProgramWrapper {
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      color: var(--font-primary);

      span {
        font-weight: normal;
        color: var(--font-secondary);
      }
    }

    .newProgramFormWrapper {
      margin: 20px 0px;
      background-color: var(--bg-primary);
      height: 200px;
      border-radius: 8px;
      display: flex;
      align-items: flex-start;
      gap: 20px;
      padding: 20px;

      .editOutlined {
        cursor: pointer;
        position: absolute;
        z-index: 1000;
        height: 160px;
        margin-left: 60px;
      }

      .uploadWrapper {
        height: 160px;
        width: 160px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        position: relative;
        background-color: var(--bg-secondary);

        .ant__upload {
          margin: 0 auto;
          position: absolute;
          left: 60px;
        }

        .camera__button {
          background: var(--font-secondary);
          border-radius: 8px;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          margin: 0 auto;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            background-color: var(--font-primary);
          }
        }
      }

      .uploadedImageContainer {
        display: flex;
        align-items: center;

        > div:last-child {
          > div:first-child {
            font-size: 1.5rem;
            margin-right: 5px;
          }
        }

        > img:first-child {
          object-fit: cover;
          object-position: center;
          height: 160px;
          width: 160px;
          border-radius: 8px;
        }

        text-align: center;
      }

      .formInputsWrapper {
        display: flex;
        gap: 20px;

        .addTitleInput {
          display: flex;
          align-items: center;
          width: auto;
        }

        h1 {
          margin-right: 10px;
        }

        & > div {
          margin-bottom: 10px;
        }

        .descriptonContainer {
          input {
            width: 700px;
          }

          .addDescription {
            display: flex;
            align-items: baseline;
            gap: 10px;
            max-width: 720px;
            color: var(--font-primary);
            min-height: 80px;
          }
        }
      }

      .actionBtnWrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
        margin-left: -180px;

        .defaultBtn {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
