.newCourseDetails {
  .formCourseName {
    ::placeholder {
      color: #888;
    }
  }
  .footerBtn {
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  .footerBtn > Button:first-child:hover {
    background-color: black;
  }
}

.addOverview {
  padding-top: 60px;
  input {
    border-radius: 4px;
    background-color: var(--bg-secondary);
    max-width: 850px;
  }
  ::placeholder {
    color: var(--font-primary);
    padding: 0px 10px;
  }
  .createCourseBtn {
    display: flex;
    align-items: center;
  }
  background-color: var(--font-primary);

  .uploadedImageContainer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 912px;
    .editBtn {
      color: var(--bg-primary);
    }
    > img:first-child {
      height: 400px;
      width: 100%;
      object-position: center;
      object-fit: cover;
      border-radius: 4px;
    }
    > img:last-child {
      height: 20px;
      width: auto;
    }
  }

  .addOverviewWrapper {
    max-width: 880px;
    margin: 0 auto;
    padding: 20px 0px 0 0;
    h1 {
      color: var(--bg-primary);
    }
    .bannerWrapper {
      .uploadWrapper {
        font-size: 1.5rem;
        font-weight: 600;
        height: 400px;
        background-color: var(--bg-secondary);
        border-radius: 8px;
        width: 890px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;

        .camera__button {
          background: var(--font-secondary);
          border-radius: 8px;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          margin: 0 auto;
          cursor: pointer;
          transition: all 0.5s;
          position: relative;

          &:hover {
            background-color: var(--font-primary);
          }
        }

        > img {
          position: absolute;
          object-position: center;
          object-fit: cover;
          border-radius: 4px;
          max-width: 890px;
        }
      }
    }
  }
}

.coursesDetail {
  position: relative;

  min-height: 100vh;
  background-color: var(--bg-secondary);
  .coursesDetailWrapper {
    max-width: 880px;
    margin: 0 auto;
  }
  nav {
    background-color: var(--bg-primary);
    .navWrapper {
      height: 60px;
      padding: 10px 0px;
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .tabBarContainer {
        margin-top: 5px;
        font-size: 1.2rem;
        width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      > div:first-child {
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 0px 20px;
        color: var(--font-primary);
        > div {
          padding: 10px;
          width: 740px;
        }
      }
      > div:first-child > div:hover {
        padding: 10px;
        border-radius: 4px;
      }
    }
  }

  .aboutProgramTabContentContainer {
    ::placeholder {
      color: var(--font-secondary);
      padding: 0;
    }

    .aboutTextArea {
      margin-left: 30px;
      width: 890px;
    }
    .actionBtn {
      margin: 20px 0 0 30px;
      display: flex;
      align-items: center;
      gap: 20px;
      .primaryBtn {
        display: flex;
        align-items: center;
      }
    }
    margin: 20px 0px;
    h1 {
      color: var(--font-primary);
    }
    p {
      color: var(--font-secondary);
    }
  }
}

.editorWrapper {
  width: 900px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 20px 0;
}

.programCourse {
  height: 100%;
  .addCourseBtn {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .noCourseAvailableBtn {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    Button {
      height: 40px;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      background-color: var(--font-primary);
      color: var(--bg-primary);
    }
  }
  .courseFormWrapper {
    margin-top: 20px;
    height: 100%;
  }
  .courseFormWrapperH2 {
    color: var(--font-secondary);
    padding-left: 30px;
  }

  h1 {
    font-weight: 500;
    color: var(--font-secondary);
  }
  .programCourseWrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: var(--font-primary);

    .courseListAboutWrapper {
      background-color: var(--font-secondary);
      color: var(--bg-primary);
      padding: 20px;
      .chapterContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        > div {
          border-radius: 4px;
          background-color: var(--font-primary);
          color: var(--font-secondary);
          padding: 10px;
          h4 {
            color: var(--bg-primary);
          }
          > div:first-child {
            span {
              margin-right: 5px;
            }
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .panelContainer {
    width: 890px;
    margin-left: 30px;
    .coursNameHeader {
      display: flex;
      justify-content: space-between !important;
      align-items: center;
      width: 860px;
    }
  }

  .PanelHeader {
    input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: var(--bg-secondary);
      height: 30px;
      // max-width: 850px;
    }
    ::placeholder {
      color: var(--font-primary);
    }
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h4 {
      color: var(--font-secondary);
    }
    > div:last-child {
      color: var(--font-secondary);
      font-weight: 500;
    }
    .panelArrowInActive {
      transform: rotate(0deg);
      transition: all 0.4s ease-in-out;
    }
    .panelArrowActive {
      transition: all 0.4s ease-in-out;
      transform: rotate(180deg);
    }
    .skillTags {
      display: inline-flex;
      align-items: center;
      gap: 20px;
      border-radius: 4px;
      background-color: var(--bg-secondary);
    }
    .durationAndSkill {
      display: flex;
      align-items: flex-start;
      gap: 20px;
    }
  }

  .courseChapterWrapper {
    background-color: var(--font-secondary);
    padding: 16px 16px;
    p {
      color: var(--bg-primary);
    }
    .chapterListContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      .addChapter,
      .chapterList {
        height: 200px;
        border-radius: 4px;
        background-color: var(--font-primary);
        padding: 10px;
        > div:first-child {
          color: var(--font-secondary);
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 400;
        }
        h4 {
          color: var(--bg-primary);
          font-size: 1.2rem;
          margin: 10px 5px;
          padding: 0px;
        }
        p {
          color: var(--font-secondary);
        }
      }

      .addChapter {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 265px;
        .plusIcon {
          font-size: 2rem;
          color: var(--bg-primary);
        }
        h1 {
          color: var(--bg-primary);
        }
      }
    }
  }
}
.drawerWraper {
  background-color: var(--bg-secondary);
  input {
    background-color: var(--bg-primary);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 40px;
  }

  .drwaerContent {
    h4 {
      margin: 40px 0px;
      color: var(--font-secondary);
    }
  }
}

.chapterForm {
  height: 100%;
  .actionBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    > div:first-child > Button {
      border: 1px solid var(--font-primary);
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      color: white;
    }
    > Button:first-child {
      background-color: var(--font-primary);
      color: var(--bg-primary);
    }
    > Button:last-child {
      background-color: var(--bg-secondary);
      color: var(--font-primary);
    }
  }
}

.saveCourseContainer {
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.DrawerfooterContent {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding: 5px 15px;
  .primaryDrawerBtn {
    display: flex;
    align-items: center;
  }
}

.resource_item {
  color: var(--font-primary);
  background-color: var(--bg-primary);
  margin-bottom: 20px;
  border-radius: 4px;

  .resource_item {
    // background-color: var(--bg-secondary);
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
    // border-bottom: 1px solid var(--bg-secondary);
    cursor: pointer;
    border-left: 3px solid transparent;
    position: relative;
    .resource_no {
      position: absolute;
      right: 13px;
      bottom: 5px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-primary);
      color: var(--font-primary);
      font-size: 12px;
    }
  }

  img {
    margin-right: 6px;
  }

  .resource_name {
    font-weight: 600;
  }

  .edit_resource {
    float: right;
  }
}

.resource_itmes {
  color: green;
}

.courseListWrapper {
  h2 {
    margin-left: 30px;
  }
}

.courseViewContainer {
  padding: 10px 0px;
}
.no_course_btn {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
