.allProgram {
  min-height: 100vh;
  position: relative;
  top: 50px;
  padding: 20px;
  background-color: var(--bg-secondary);

  .allProgram__Wrapper {
    max-width: 1000px;
    margin: 0 auto;

    .addProgramBtnWrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 20px 0px;
    }

    h1 {
      color: var(--font-primary);
    }

    .programContainer {
      color: var(--font-primary);
      height: 200px;
      padding: 20px;
      width: 100%;
      border-radius: 8px;
      background-color: var(--bg-primary);
      display: flex;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 20px;

      .contentWrapper {
        h2 {
          width: 670px;
        }
      }
    }

    .contentContainer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 780px;
    }

    .editBtnWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .draftTag {
        margin-left: -20px;
        background-color: var(--bg-secondary);
      }
    }

    .imgWrapper {
      height: 160px;
      width: 160px;
      border-radius: 8px;
      background-color: var(--bg-secondary);

      img {
        border-radius: 8px;
        width: 160px;
        height: 160px;
        object-fit: cover;
        object-position: center;
      }
    }

    p {
      color: var(--font-secondary);
      max-width: 600px;
      margin: 10px 0px;
      min-height: 36px;
    }

    .actionBtn {
      margin: 10px 0px;
      display: inline-flex;
      align-items: center;
      gap: 10px;

      .enrollBtn {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .allProgram {
    .programContainer {
      // padding: 10px;
      height: 100% !important;
      flex-direction: column;

      .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      p {
        width: 100%;
        margin: 0;
        text-align: center;
      }

      .actionBtn {
        Button {
          max-width: 200px;

          padding: 5px 10px;
        }
      }

      .imgWrapper {
        width: 100%;
      }

      .tagsWrapper {
        .tags {
          max-width: 100px;
          justify-content: center;
          padding: 2px 5px;
          font-size: 10px;
        }

        margin: 10px 0px;
      }
    }
  }
}
