.center_content {
  padding: 120px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.assignment_list_page {
  background-color: var(--bg-secondary);

  min-height: 100vh;

  h2 {
    color: var(--font-primary);
  }

  .assignment_tables {
    margin-top: 30px;
  }
}

.assignment_evaluation_page {
  min-height: 100vh;
  h2 {
    margin-bottom: 5px;
  }

  .submit_btn {
    width: 160px;
  }
}

.evaluationWrapper {
  padding: 20px 40px;
}

.editorContainer {
  h1 {
    color: var(--font-primary);
  }
  p {
    color: var(--font-secondary);
  }
  a {
    color: var(--btn-primary);
  }
  img {
    width: 100%;
    height: auto;
  }
}

.Segmented_wrapper {
  background-color: var(--segment-bg);
  color: var(--font-primary);

  :hover {
    color: var(--font-primary);
  }
}

.preview_wrapper,
.preview_collapsed_wrapper {
  min-height: calc(100vh - 200px);
  background-color: var(--bg-primary);
}
.preview_collapsed_wrapper {
  width: calc(100vw - 550px);
}
.preview_wrapper {
  width: calc(100vw - 750px);
}
.breadcrumb {
  margin-bottom: 20px;
}

.preview_toolbar {
  background-color: var(--bg-code);
  padding: 5px 10px;
  > div:first-child {
    font-size: 18px;
    margin-top: -10px;
    font-weight: bolder;
    color: var(--font-secondary);
    cursor: pointer;
  }
  i {
    font-size: 18px;
    display: flex;
    height: 20px;
    border-radius: 2px;
    color: var(--font-secondary);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  i:hover {
    background-color: var(--bg-primary);
  }
}

.previewContainer {
  background-color: var(--bg-primary);
  height: calc(100vh - 200px);
}

.no_submission_container {
  background-color: var(--bg-primary);
  height: calc(100vh - 200px);
  h1 {
    font-size: 20px;
  }
}
.evaluation_result_table {
  width: calc(100vh - 150px);
  height: calc(100vh - 200px);

  .viewButton {
    color: var(--btn-primary);
    cursor: pointer;
  }
}
.headerWrapper {
  margin-left: -10px;
  height: 40px;
  border-bottom: 1px solid var(--border-color) !important;
}

.drawerHeader {
  .scoreWrapper {
    font-weight: normal;
    i {
      color: var(--font-secondary);
      font-size: 18px;
      height: 20px;
    }
    .dot {
      height: 4px;
      width: 4px;
      background-color: var(--font-secondary);
      border-radius: 50%;
      margin-top: 5px;
    }
  }
}
