.config_page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  h1 {
    color: #000;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .header_link {
    color: #000;

    margin: 20px 0px;
    a {
      font-size: 20px;
    }
  }
}

.media_storage {
  max-width: 600px;
  margin: 20px 10px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .submit_btn {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  p {
    max-width: 300px;
    margin: 10px 0px;
  }
  .form_wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    gap: 30px;
    .storage {
      padding: 10px 20px;
      background-color: #fff;
      input {
        max-width: 300px;
        height: 40px;
        border: 1px solid #eee;
        border-top-left-radius: 4px;
        padding: 5px 10px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
