.contact_form_modal {
  .apply_submit_btn {
    width: 100%;
    background: linear-gradient(94.04deg, #7934da, #4d52e0 101.2%);
    border: 0;
    color: var(--bg-primary);
    margin-right: 15px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
  }
}
