.curriculum {
  width: 1000px;
  .add_btn {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .draft_btn {
    Button {
      background-color: #f6eee3;
      color: #666;
    }
  }
  .publish_btn {
    Button {
      background-color: #eee;
      color: #666;
    }
  }
  .labelContainer {
    position: relative;
    z-index: 1000;
    cursor: text;
  }
  .curriculum_container {
    h1 {
      font-size: 1.5rem;
    }

    > div:first-child {
      margin-bottom: 20px;
    }
  }
  .chapter_list {
    margin: 20px 0px;

    .resContainer {
      height: 50px;

      border-bottom: 1px solid #a7a4a4b9;

      padding: 5px 0px;
      padding-left: 20px;
    }
  }
  .no_chapter_btn {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
      font-size: 18px;
    }
  }
}
