.setting_content,
.course_content,
.dashboard_content {
  padding: 40px;

  .enrolled_course_list {
    width: 100%;
    background-color: var(--bg-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .enroll_course_item {
      font-size: 13px;
      padding: 10px 15px;
      cursor: pointer;
      transition: all 0.3s ease-in;
      > div {
        color: var(--font-primary);
      }
      .completed_course {
        color: var(--font-secondary);
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
      }
    }
  }
}

.course_content {
  padding: 0px 40px 40px 40px;
}

.courseContainer {
  padding: 40px 40px 0px 40px;
}

//no courses found

.no_course_found {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  p {
    // font-size: 15px;
    color: var(--font-secondary);
  }
}

// Guides Page styles
.guide_wrapper {
  p {
    color: var(--font-secondary);
  }
}

// Course page styles

.course_card_wrapper {
  margin-top: 20px;
  display: flex;

  flex-wrap: wrap;
  gap: 20px;

  .course_card {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    width: 500px;
    height: 230px;
    background-color: var(--bg-primary);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: all 0.3s;

    .card_content,
    .card_img {
      img {
        width: 250px;
        height: 250px;
      }
    }

    .card_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .card_difficulty_level {
        color: var(--font-secondary);
        margin-left: 15px;
        margin-top: 10px;
      }
      .card_mode {
        margin-left: 5px;
        margin-top: 10px;
        color: #fff;
      }
      .card_title {
        color: var(--font-primary);
        padding-top: 10px;
      }
      .badge {
        border-radius: 20px;
        width: 80px;
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        border: none;
        background-color: var(--bg-secondary);
        margin: 10px 15px 10px 15px;
      }

      h4,
      p {
        margin: 0 15px;
        color: var(--font-secondary);
      }

      h4 {
        margin-bottom: 10px;

        color: var(--font-secondary);
      }

      p {
        font-size: 14px;
        margin-bottom: 20px;
        color: var(--font-secondary);
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }

      .card_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--bg-secondary);
        padding: 10px 10px;

        .course_duration {
          color: var(--font-secondary);

          font-size: 13px;
        }
      }
    }
  }
}

.add_user_btn {
  // width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  gap: 0 10px;
}

.add_course_page {
  .add_course_header {
    height: 50px;
    width: 100%;
    background-color: var(--bg-primary);
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_icon {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        padding-left: 15px;
        color: var(--font-secondary);
        margin: 0;
      }

      .cancel_add_course {
        a {
          stroke: var(--font-secondary);
        }
        cursor: pointer;
        width: 50px;
        height: 100%;
        border-right: 1px solid var(--font-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .add_course_tabs {
    padding: 10px 20px;

    .add_course_setting {
      padding: 20px 40px;
      max-width: 600px;

      .setting_header {
        margin-bottom: 20px;

        h3 {
          margin: 0;
        }

        display: flex;
        justify-content: space-between;

        .save_setting_btn {
          display: flex;
          align-items: center;
          justify-content: space-between;

          gap: 10px;
        }
      }

      .upload__trailer {
        & > div {
          width: 320px;
          height: 180px;
          position: relative;
        }
      }

      .upload__thumbnail {
        & > div {
          height: 150px;
          width: 150px;
          position: relative;
        }
        right: 50%;
        .bannerStatus {
          color: var(--font-primary);
          position: absolute;
          top: 70%;
        }
        .upload_img_button {
          color: var(--font-secondary);
        }
      }

      .course_info {
        padding: 10px 15px;
        background-color: var(--bg-primary);
        width: 100%;

        h3 {
          margin: 0;
          margin-bottom: 10px;
        }

        ::placeholder {
          color: #dfdcdce6;
        }
      }

      .course_thumbnails {
        background-color: var(--bg-primary);
        padding: 10px 20px;
        margin-top: 20px;

        .video_container {
          height: 178px;
          width: 318px;
          border-radius: 4px;
        }

        h3 {
          margin: 0;
          margin-bottom: 20px;
        }

        .video_status {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 4px;
          text-align: center;
          padding: 8px;
        }

        .video_status_ready {
          color: var(--font-primary);
          background-color: var(--bg-secondary);
          transform: translate(-50%, -50%);

          transition: background-color 0.3s;

          &:hover {
            background-color: var(--font-label);
          }
        }

        .video_status_loading {
          color: var(--font-secondary);
        }

        .camera_btn_img,
        .camera_btn {
          background-color: var(--bg-secondary);

          height: 36px;
          width: 36px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--font-primary);
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--font-label);
          }

          & > span {
            position: absolute;
            top: 30%;
            right: 35%;
          }

          & > svg {
            position: absolute;
          }
        }

        .camera_btn_img {
          right: 110px;
          color: var(--font-primary);
        }

        .row_1,
        .row_2 {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          div:first-child {
            h4 {
              margin-bottom: 10px;
            }

            h4:last-child {
              margin-top: 20px;
            }

            p {
              margin-bottom: 10px;
              font-size: 13px;
              color: var(--font-secondary);
              margin: 4px;
            }
          }
        }
      }

      .course_pricing {
        background-color: var(--bg-primary);
        padding: 10px 20px;
        margin-top: 20px;

        .course_payment_type {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          p {
            margin-top: 10px;
            max-width: 200px;
            color: var(--font-secondary);
          }

          .free_course {
            .days_left {
              border-radius: 8px;

              display: flex;
              align-items: center;

              > div {
                border: 1px solid var(--border-color);
                padding: 2px 10px;
                border-radius: 4px;
              }

              > input {
                width: 70px;
                border-top-right-radius: 0px;

                border-bottom-right-radius: 0px;
              }

              > div:last-child {
                height: 32px;

                background-color: var(--bg-secondary);
                border-top-left-radius: 0px;

                border-bottom-left-radius: 0px;
              }
            }
          }

          .paid_course {
            .expiry_para {
              margin-top: 0;
            }

            p {
              color: var(--label-color);
            }
            .paid_overview {
              display: flex;
              align-items: center;
              gap: 20px;

              .days_left {
                border-radius: 8px;
                display: flex;
                align-items: center;

                > div {
                  border: 1px solid var(--border-color);
                  padding: 2px 10px;
                  border-radius: 4px;
                }

                > input {
                  width: 70px;

                  border-top-right-radius: 0px;

                  border-bottom-right-radius: 0px;
                }

                > div:last-child {
                  height: 32px;

                  background-color: var(--bg-secondary);
                  border-top-left-radius: 0px;

                  border-bottom-left-radius: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.notifications_list {
  .notification_bar {
    background-color: var(--bg-primary);
  }
  .title {
    color: var(--font-primary);
  }
  .reply_text {
    margin-left: 10px;
    color: var(--font-secondary);
    span {
      color: var(--font-primary);
    }
  }
  .description_text {
    color: var(--font-secondary);
  }
}

@media only screen and (max-width: 415px) {
  .course_content {
    padding: 0px 20px 20px 20px;
    height: 100%;
  }

  .courseContainer {
    padding: 20px 20px 0px 20px;
  }
  .setting_content {
    padding: 20px;
  }

  .dashboard_content {
    padding: 20px;
    .enroll_course_item {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      gap: 10px;
    }
  }

  .course_card_wrapper {
    .course_card {
      width: calc(100vw - 40px);
      gap: 10px;
      height: 100px;
      .card_content {
        width: 100%;
      }

      .card_content,
      .card_img {
        img {
          width: 100px;
          height: 100px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        .card_footer {
          margin-left: -10px;
        }
        .card_difficulty_level {
          margin-left: 0px;
        }
        .card_mode {
          margin-left: 0px;
        }

        h4 {
          margin: 0;
          padding: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          width: calc(100vw - 200px);
          padding: 0px 10px;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          margin-left: -10px;
        }
        p {
          display: none;
        }
      }
    }
  }

  .guide_wrapper {
    img {
      height: 100%;
      width: 100%;
    }
  }
}
