.dashboard_content {
  padding: 40px;
  h4 {
    margin-top: 30px;
    color: #333232b9;
  }
  .enrolled_course_list {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .enroll_course_item {
      font-size: 13px;
      padding: 10px 15px;
      cursor: pointer;
      //   transition: all 0.4s ease-in;
      &:hover {
        font-weight: 500;
      }
    }
  }
}
