.editCourseWrapper {
  background-color: var(--bg-secondary);
  min-height: 100vh;
  padding: 100px 0px;
  min-height: 100vh;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: var(--font-primary);
  }
  .courseListWrapper {
    max-width: 900px;
    margin: 0 auto;
    .panelContainer {
      width: 900px;
    }
    .PanelHeader {
      .editPanelHeader {
        display: flex;
        justify-content: space-between;
        width: 870px;
      }
      input {
        border-radius: 4px;
        background-color: var(--bg-secondary);
        max-width: 850px;
      }
      ::placeholder {
        color: var(--font-primary);
      }
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h4 {
        color: var(--font-secondary);
      }
      > div:last-child {
        color: var(--font-secondary);
        font-weight: 500;
      }
      .panelArrowInActive {
        transform: rotate(0deg);
        transition: all 0.4s ease-in-out;
      }
      .panelArrowActive {
        transition: all 0.4s ease-in-out;
        transform: rotate(180deg);
      }
      .skillTags {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        border-radius: 4px;
        background-color: var(--bg-secondary);
      }
      .durationAndSkill {
        display: flex;
        align-items: flex-start;
        gap: 20px;
      }
    }
    .courseChapterWrapper {
      background-color: var(--font-secondary);
      padding: 16px 16px;
      p {
        color: var(--header-bg);
      }
      .chapterListContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        .addChapter,
        .chapterList {
          min-height: 150px;
          border-radius: 4px;
          background-color: var(--font-primary);
          padding: 10px;

          > div:first-child {
            color: var(--font-secondary);
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
          }
          .chapterEditACtion__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .deleteBtn {
              color: var(--danger);
            }
          }

          h4 {
            color: var(--bg-primary);
            margin: 10px 5px;
            padding: 0px;
          }
          p {
            color: var(--header-bg);
            margin-left: 5px;
          }
        }

        .addChapter {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          .plusIcon {
            font-size: 2rem;
            color: var(--bg-primary);
          }
          h5 {
            color: var(--bg-primary);
          }
        }
      }
    }
    .saveCourseContainer {
      height: 60px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
}
