.enroll_course_list_page {
  padding: 2rem;
  background-color: var(--main-bg);
  min-height: 100vh;

  .page_title {
    max-width: 1200px;
    margin: 4rem auto 1rem auto;
    padding: 0 20px;
    color: var(--ft-color);
  }

  .course_list {
    max-width: 1200px;
    margin: 0 auto 20px auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .course_list_card {
      display: flex;
      flex-direction: column;
      border-radius: var(--border-radius);
      overflow: hidden;
      background-color: var(--card-bg);
      flex: 0 1 32%;

      .course_card_img {
        height: 200px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          position: absolute;
          right: 10px;
          bottom: 10px;
          width: 60px;
          cursor: pointer;
        }
      }
      .course_card_details {
        padding: 15px;
        .card_name {
          font-size: 16px;
          font-weight: 500;
          color: var(--ft-color-dull);
          margin-bottom: 2px;
        }
        .card_chapter_name {
          font-weight: 400;
          font-size: 14px;
          margin: 4px 0;
          color: var(--ft-color);
        }
        .progress_bar {
          width: 100%;
          margin: 0 10px 0 0;
          margin-bottom: 0;
          color: var(--ft-color);
          .ant-progress-bg {
            background: #6f6f6f;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .enroll_course_list_page {
    padding: 2rem 20px;

    .page_title {
      padding: 20px 0;
      margin: 3rem auto 1px auto;
    }

    .course_list {
      padding: 0;
      flex-direction: column;
    }
  }
}
