.section_footer {
  background-color: var(--header-bg);
  border-top: 1px solid rgba(0, 0, 0, 0.4);

  .footer_top {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    max-width: 80vw;

    margin: 0 auto;
    .footer_top_left {
      .company_desc {
        font-size: 16px;
        color: var(--secondary);
        max-width: 400px;
        margin-top: 10px;
        margin-left: 10px;
      }
      img {
        width: 140px;
      }
    }
    .footer_top_right {
      flex-basis: 60%;
      display: flex;
      justify-content: flex-end;
      gap: 0 50px;

      ul {
        list-style: none;
        li {
          &:first-child {
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 15px;
          }

          &:not(:first-child) {
            margin-bottom: 10px;
            a {
              font-size: 14px;
              color: var(--secondary);
              &:hover {
                border-bottom: 1px solid var(--secondary);
              }
            }
          }
        }
      }
    }
  }
  .border_top {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
  .footer_bottom {
    padding: 3rem;
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    div {
      &:first-child {
        color: var(--secondary);
      }
      &:last-child {
        a {
          color: var(--secondary);
          &:hover {
            border-bottom: 1px solid var(--secondary);
          }
        }
      }
    }
  }
}
