html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--bg-secondary);
  font-size: 14px;
}
h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

a {
  color: var(--btn-primary);
}
li,
strong,
ul {
  font-size: var(--font-secondary);
}
:root[data-theme="light"] {
  --bg-secondary: #eee;
  --bg-primary: #fff;
  --font-dropdown-label: #000;
  --bg-elevated: #fff;
  --bg-asignment-tab: #f5f5f5;
  --bg-tag: #eee;
  --font-tag: #666;
  --offline-bg: #f7f8fd;

  --marketing-container-width: 1200px;

  --container-width: 1000px;

  --icon-color: #b7b4b4;
  --bg-code: #eee;
  --font-trainer-secondary: #d4d4d4;
  --font-offline-secondary: #666;

  --bg-course-card: #fff;
  --font-trainer-primary: #fff;
  --font-secondary: #666;
  --placeholder: #cbcbcb;
  --bg-selected: #f0f0f0;
  --selected-side-bar: #696a6b;
  --font-primary: #000;
  --mktg-card-bg: #f4f4f8;
  --font-label: #888;
  --primary-button: #000;
  --segment-bg: #e0dfdf;
  --delete-button: #ea0303;
  --card-bg-color: #dadada;
  --card-font-color: #959595;
  --chapter-list: #888888;
  --header-bg: #fff;
  --main-bg: #f0f0f0;
  --draft-bg: #f6eee3;
  --publish-bg: #eee;
  --font-warning: #faad14;
  --ft-color: black;
  --section-dark: #05091d;
  --section-light: #394165;
  --secondary: #bab9d3;
  --hd-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  --box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  --card-bg: #fff;
  --btn-primary: #5b63d3;
  --border-radius: 4px;
  --ft-color-dull: #848484;
  --hover-text: #c4c4c4;
  --wave-color: #c4c4c4;
  --ft-color: #0e1326;
  --font-footer: #939db8;
  --strike: #ad5742;
  --theme-btn-bg: #fff;
  --label-color: #68696d;

  --container-width: 1000px;

  --secondary-bg: #1c1e2f;

  --success: #4ece91;
  --danger: #ff0000;
  --primary: #4096ff;
  --border-color: #d9d9d9;
  --font-mktg-secondary: #484b54;
  --tag-preview: linear-gradient(#1c1e2f, #1c1e2f) padding-box, linear-gradient(to right, #e05050, #475fe5) border-box;

  --hero-gradient: linear-gradient(120deg, #f7f8fd 0%, #fff 100%);
  --hover-bg: var(--header-bg);
}

:root[data-theme="dark"] {
  --bg-secondary: #202433;
  --bg-primary: #283040;
  --font-mktg-secondary: #c8cddd;
  --segment-bg: #151823;
  --strike: #caa3ae;
  --placeholder: #939db8;
  --offline-bg: #283040;
  --font-trainer-secondary: #d4d4d4;
  --font-offline-secondary: #d4d4d4;

  --font-trainer-primary: #fff;
  --bg-course-card: #202433;

  --bg-code: #1e1e1ead;
  --bg-asignment-tab: #202433;

  --container-width: 1000px;
  --marketing-container-width: 1200px;

  --icon-color: #939db8;

  --tag-preview: linear-gradient(#1c1e2f, #1c1e2f) padding-box, linear-gradient(to right, #e05050, #475fe5) border-box;
  --font-primary: #fff;
  --font-dropdown-label: #fff;
  --secondary-bg: #1c1e2f;
  --bg-elevated: #374362;
  --mktg-card-bg: #202433;
  --wave-color: #153953;
  --font-label: #888;

  --font-warning: #faad14;
  --hover-text: #c4c4c4;
  --btn-primary: #5b63d3;
  --font-secondary: #939db8;
  --font-footer: #939db8;
  --draft-bg: #202433;
  --publish-bg: #202433;
  --bg-tag: #374362;
  --font-tag: #d5d5d5;
  --border-color: #2f3647;
  --ft-color: #fff;
  --card-bg: #0e1326;
  --hd-box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.29);
  --ft-color-dull: #7481b9;
  --theme-btn-bg: #394165;
  --label-color: #68696d;
  --primary: #4096ff;
  --hero-gradient: linear-gradient(120deg, rgba(13, 18, 98, 1) 0%, rgba(242, 124, 101, 1) 100%);
  --hover-bg: var(--header-bg);
}

.font-brand {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--font-primary);
}

h5,
h6 {
  color: var(--font-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-divider-horizontal {
  margin: 10px 0;
}

.ant-empty-normal .ant-description {
  color: var(--font-secondary);
}

.ant-tabs-top > .ant-tabs-nav::before {
  border: 1px solid var(--border-color);
}

* {
  box-sizing: border-box;
}
.ant-tabs-tab-btn {
  text-shadow: none !important;
}
.content_tab .ant-tabs-tab-btn {
  display: flex;
  align-items: flex-start;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.assign_submission_editor {
  height: 250px;
  overflow: auto;
}

.theme-btn {
  right: 50px;
  bottom: 40px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.spin_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

  .spin_icon {
    font-size: 60px;
  }
}
.courses_spin_wrapper {
  height: 100vh;
}
.edit-editor {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 20px 0;
}

.assign_editor_view {
  padding: 20px 20px 30px 20px;
  background-color: #fff;
  height: 390px;
  overflow: auto;
}

.nav__overlay > ul > li > div {
  color: var(--font-dropdown-label) !important;
  border-bottom: 1px solid var(--border-color);
  font-size: 15px;
}

.nav__overlay > ul {
  margin-top: 10px !important;
  background-color: var(--bg-primary) !important;
  padding: 10px !important;
}

.nav__overlay > ul > li > ul {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  padding: 10px !important;
}
.nav__overlay > ul > li > ul > li:hover {
  background-color: var(--bg-secondary) !important;
}

.evaluate_assign_editor_view {
  border: 1px solid #eee;
  padding: 20px 20px 30px 20px;
  background-color: #fff;
  height: 300px;
  overflow: auto;
}

.img_skeleton {
  height: 120px;
  width: 160px;
  margin: 5px 0 15px 15px;
}

.codex-editor__redactor {
  padding-bottom: 20px !important;
  min-height: 200px;
}

.evaluate_assign_editor_view .ce-block__content,
.assign_editor_view .ce-block__content,
#course_desc_readOnly2 .ce-block__content,
#course_desc_readOnly .ce-block__content {
  margin: unset;
}

.spin_loader {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.dot {
  box-sizing: border-box;
  margin: 0px 0px -3px 0px;
  min-width: 0px;
  color: var(--font-secondary);
  font-size: 1rem;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  user-select: none;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
}

#reply_cmt_list {
  height: calc(100vh - 180px);
}

.assignment_code_tabs .ant-tabs-nav .ant-tabs-tab {
  margin-left: 0 !important;
}

.assignment_code_tabs .ant-tabs-nav .ant-tabs-tab-active {
  background: #cad3e6;
}

.collapseContainer {
  background-color: var(--bg-secondary) !important;
  height: 100%;

  border: none;

  .ant-collapse-header {
    background-color: var(--bg-primary) !important;
  }

  .ant-collapse-content-box {
    padding: 0px !important;
  }
}

.tabBarContainer {
  .ant-tabs-ink-bar {
    display: none !important;
  }

  .ant-tabs-nav::before {
    display: none !important;
  }

  .ant-tabs-nav {
    margin: 0;
    position: relative !important;
    z-index: 10 !important;
  }

  .ant-tabs-tab-btn {
    color: var(--font-secondary);
    padding: 5px 10px;
  }

  .ant-tabs-tab-btn:hover {
    padding: 5px 10px;
    background-color: var(--bg-secondary);
    border-radius: 4px;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--font-secondary);
    background-color: var(--bg-secondary);
    border-radius: 4px;
  }

  .ant-tabs-content-holder {
    position: absolute;
    min-height: 100vh;
    padding: 60px 0px;
    z-index: 1;
    max-width: 900px;
    margin-left: -20px;
  }

  .ant-tabs-nav-operations {
    display: none !important;
  }

  .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 10px;
  }
}

.addOverviewTabBar {
  .ant-btn > span + .anticon {
    margin: 0;
  }

  .ant-tabs-ink-bar {
    display: none !important;
  }

  .ant-tabs-nav::before {
    display: none !important;
  }

  .ant-tabs-nav {
    margin: 0;
    position: relative !important;
    z-index: 10 !important;
  }

  .ant-tabs-tab-btn {
    color: var(--font-secondary);
    padding: 5px 10px;
  }

  .ant-tabs-tab-btn:hover {
    padding: 5px 10px;
    background-color: var(--bg-secondary);
    border-radius: 4px;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--font-secondary);
    background-color: var(--bg-secondary);
    border-radius: 4px;
  }

  .ant-tabs-content-holder {
    position: absolute;
    min-height: 100vh;
    padding: 60px 0px;
    z-index: 1;
    width: 920px;
  }

  .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 10px;
  }

  .ant-tabs-nav-operations {
    display: none !important;
  }
}
.spinner_container {
  position: relative;
  min-height: 100vh;
}

.lesson_loader {
  position: absolute;
  top: 40%;
  right: -30px;
  width: 40px;
  height: 40px;
  border: 5px solid;
}
.lesson_loader,
.preview_loader,
.discussions_list_loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #5b63d3;
  animation: spinner-d3wgkg 1s infinite linear;
}
.spinner_container > .course__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;

  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #5b63d3;
  animation: spinner-d3wgkg 1s infinite linear;
}

.spinner_container > .discussions_list_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;

  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #5b63d3;
  animation: spinner-d3wgkg 1s infinite linear;
}

.spinner_container > .spinner {
  position: absolute;
  top: calc(50vh - 28px);
  left: calc(50vw - 28px);
  width: 56px;
  height: 56px;

  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #5b63d3;
  animation: spinner-d3wgkg 1s infinite linear;
}

.spinner_container > .marketing__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #5b63d3;
  animation: spinner-d3wgkg 1s infinite linear;
}

.chat__popup {
  position: fixed;
  bottom: 20px;
  right: 40px;
  height: 40px;
  width: 40px;

  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.chat__popup > i {
  stroke: #fff;
  padding-top: 5px;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

@keyframes lightUp {
  0% {
    background-color: rgb(180, 179, 179);
    /* Dark color */
  }

  100% {
    background-color: #fff;
    /* Light color */
  }
}

@media only screen and (max-width: 435px) {
  .events_content_wrapper {
    margin-bottom: 60px !important;
  }
  .events_list_wrapper {
    /* margin-bottom: 80px; */
  }
  .assign_editor_view {
    height: 300px;
    overflow: auto;
  }

  .evaluate_assign_editor_view {
    height: 300px;
    overflow: auto;
  }
  .spinner_container {
    max-height: 500px;
  }
  .spinner_container > .spinner,
  .spinner_container > .course__spinner,
  .spinner_container > .marketing__spinner {
    top: calc(50vh - 28px);
    left: calc(50vw - 28px);
  }
  .lesson_loader {
    top: 42%;
    right: -20px;
    height: 50px;
    width: 50px;
  }
}

.ant-input-affix-wrapper {
  padding: 0px !important;

  outline: none;
  border-radius: 4px;
}

.ant-input-suffix {
  padding: 0px 10px;
  border: 1px solid var(--bg-secondary);
  color: var(--font-secondary);
  margin-inline-start: 0px !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ant-input-affix-wrapper-focused {
  outline: none;
}

.ant-btn-primary {
  box-shadow: none;
}

.content-type-segment {
  background-color: var(--font-secondary);
  color: var(--bg-primary);
}

.panelArrowInActive {
  transform: rotate(0deg);
  transition: all 0.4s ease-in-out;
}

.panelArrowActive {
  transition: all 0.4s ease-in-out;
  transform: rotate(180deg);
}

.ant-drawer .ant-drawer-header {
  border-bottom: none;
}

/* **************** Lesson Sider ******************** */
.lesson_sider {
  transition: all 0.4s ease-in-out !important;
}

.collapsed_lesson_sider {
  transition: all 0.4s ease-in-out !important;

  transform: translateX(400px);
}

.lesson_sider .ant-menu-submenu-title,
.collapsed_lesson_sider .ant-menu-submenu-title {
  padding-left: 12px !important;
}

.lesson_sider .ant-menu-inline .ant-menu-item,
.collapsed_lesson_sider .ant-menu-inline .ant-menu-item {
  height: 35px;
  line-height: 35px;
  padding-left: 24px !important;
}

.lesson_sider .ant-menu-item-selected,
.collapsed_lesson_sider .ant-menu-item-selected {
  border-left: 3px solid var(--btn-primary);
  border-radius: 0px;
  margin: 0;
  background-color: var(--bg-secondary);
  color: var(--font-primary);
  width: 100%;
}

/* ++++++++++++++++ Style for New Layout ++++++++++++++++++++++ */

.main_sider .ant-layout-sider-children {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_sider .ant-menu-item {
  margin-inline: 0;
  width: 100%;
  border-radius: 0;
}

.main_sider .ant-menu-inline .ant-menu-item {
  height: 35px;
  line-height: 35px;
}

.main_sider .ant-menu-item-selected,
.main_sider .ant-menu-item-active {
  border-right: 3px solid var(--btn-primary);
}

/* ++++++++++++++++++ Users Table ++++++++++++++++++++++++ */

.users_table .ant-table-thead tr th {
  background-color: var(--bg-secondary);
  font-size: 13px;
}
.users_table .ant-table-tbody tr td {
  font-size: 13px;
}

.users_table .ant_table {
  background-color: transparent;
}

.content_tab .ant-tab-nav::before {
  border-color: #d9d6d6;
}

/* **************** Add Course ******************** */

.wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select,
.course_video_uploader .ant-upload {
  width: 320px !important;
  height: 180px !important;
}
.wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select,
.resource_video_uploader .ant-upload {
  width: 320px !important;
  float: right;
  height: 178px !important;
}

.course_thumbnail_uploader > div.ant-upload {
  display: block;
  height: 150px;
  width: 150px;
}

.html_icon {
  font-weight: bolder;
  font-size: 10px;
  color: #f76a00;
}
.css_icon {
  font-weight: bold;

  font-size: 15px;
  color: #519aba;
}

.js_icon {
  font-weight: bold;
  color: #cbcb41;
  font-size: 10px;
  padding-top: 3px;
}

.tree_container .ant-tree-list .ant-tree-list-holder div .ant-tree-list-holder-inner .ant-tree-treenode-selected {
  background-color: var(--bg-primary);
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: transparent;
}

.code_editor_wrapper {
  background-color: var(--bg-primary);

  flex-wrap: wrap;

  .ql-editor.ql-blank::before {
    color: var(--font-secondary);
    font-style: normal;
  }
  .ql-picker-options .ql-stroke {
    stroke: var(--font-secondary);
  }

  .ql-snow.ql-toolbar button:hover,
  .ql-snow .ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus,
  .ql-snow .ql-toolbar button:focus,
  .ql-snow.ql-toolbar button.ql-active,
  .ql-snow .ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label:hover,
  .ql-snow .ql-toolbar .ql-picker-label:hover,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item:hover,
  .ql-snow .ql-toolbar .ql-picker-item:hover,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: var(--hover-text) !important;
  }
  .ql-snow.ql-toolbar button:hover .ql-fill,
  .ql-snow .ql-toolbar button:hover .ql-fill,
  .ql-snow.ql-toolbar button:focus .ql-fill,
  .ql-snow .ql-toolbar button:focus .ql-fill,
  .ql-snow.ql-toolbar button.ql-active .ql-fill,
  .ql-snow .ql-toolbar button.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
  .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: var(--font-primary) !important;
  }
  .ql-snow.ql-toolbar button:hover .ql-stroke,
  .ql-snow .ql-toolbar button:hover .ql-stroke,
  .ql-snow.ql-toolbar button:focus .ql-stroke,
  .ql-snow .ql-toolbar button:focus .ql-stroke,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: var(--font-secondary) !important;
  }

  .ql-snow .ql-fill {
    fill: var(--font-primary) !important;
  }

  .ql-snow .ql-stroke {
    stroke: var(--font-primary);
  }

  .ql-toolbar.ql-snow .ql-picker-label {
    color: var(--font-primary);
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background-color: var(--bg-secondary);
    color: var(--font-secondary);
  }
  .ql-bubble .ql-tooltip {
    transform: translateY(10px) translateX(48px);
    z-index: 10;
  }
  .ql-bubble .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
    left: 30px;
    top: -4px;
  }
  .ql-container.ql-bubble:not(.ql-disabled) a {
    color: var(--btn-primary);
  }
  .ql-container.ql-bubble:not(.ql-disabled) a::before {
    z-index: 70;
  }
  .ql-container.ql-bubble:not(.ql-disabled) a::before {
    transform: translate(-20%, 94%);
  }
  .ql-container.ql-bubble:not(.ql-disabled) a::after {
    top: 10px;
    rotate: -180deg;
  }

  .ql-editor {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif !important;
  }
  .ql-snow .ql-tooltip {
    transform: translateY(10px) translateX(141px);
  }
  .ql-bubble .ql-editor pre {
    width: 100%;
  }
  .ql-bubble .ql-editor pre.ql-syntax {
    color: var(--font-secondary);
    background-color: var(--bg-code);
  }
}

.comment_viewer {
  padding: 0px;
}
.comment_viewer a {
  color: var(--btn-primary);
}

.comment_viewer p {
  margin-bottom: 5px !important;
}
.comment_viewer pre {
  margin-bottom: 10px !important;
  height: 100%;
  background-color: var(--bg-secondary);
  padding: 5px 10px;
  white-space: pre-wrap;
}
.notifications_info pre {
  white-space: pre-wrap;
  padding: 10px;
  background: var(--bg-code);
}
.notifications_info img {
  max-width: 200px;
  height: auto;
}
.comment_viewer img {
  max-width: 100%;
  height: auto;
}
.purify_info {
  max-width: var(--marketing-container-width);
  margin: 0 auto;
  padding: 40px 0px;
}

.purify_info p {
  color: var(--font-secondary);
  margin-bottom: -10px !important;
}
.purify_info img {
  max-width: 600px;
  height: auto;
}

.purify_info pre {
  margin-bottom: 10px !important;
  max-width: 500px;
  padding: 10px 15px;
  background-color: var(--bg-primary);
  color: var(--font-primary);
}

.upload_editor_image {
  line-height: 0;
}

.text_editor_wrapper {
  /* border-top-right-radius: 8px; */
  position: relative;
}
.post_comment_spinner_wrapper {
  background-color: #e1dddd7d;
  opacity: 0.8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  justify-content: center;
  z-index: 1;
}
.spinner_wrapper {
  background-color: #e1dddd7d;
  opacity: 0.8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  justify-content: center;
  z-index: 1;
}

.editor_spinner {
  position: absolute;
  top: 48%;
  left: -30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #dbdcef;
  border-right-color: #5b63d3;
  animation: spinner-d3wgkg 1s infinite linear;
}

.segment__wrapper .ant-segmented-item-label {
  padding: 0 20px;
}

.select_history .ant-select-selector {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}

.ant-select .ant-select-arrow {
  color: var(--font-secondary);
}

.ant-input-number ::placeholder {
  color: var(--placeholder) !important;
}
