.main_header_wrapper {
  background-color: var(--header-bg);
  width: 100%;
  height: 50px;
  padding: 0 20px;
  top: 0;
  position: fixed;
  z-index: 1001;
  box-shadow: var(--hd-box-shadow);

  .program_link {
    color: var(--font-secondary);

    &:hover {
      color: var(--font-primary);
    }
  }
  .action_btns {
    .user_name {
      margin-bottom: 4px;
      text-align: right;
      color: var(--font-secondary);
    }
  }

  .user_menu {
    .userImage {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: none;
    }
    cursor: pointer;
    display: flex;
    align-items: center;

    padding: 5px 10px;
    &:hover {
      border-radius: 4px;
      background-color: var(--hover-bg);
      color: var(--font-secondary);
    }
  }

  .center_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .app_icon {
    object-fit: cover;
    cursor: pointer;
    margin-right: 50px;
    img {
      width: 100%;
    }
  }

  .applyBtn {
    background: linear-gradient(94.04deg, #7934da, #4d52e0 101.2%);
    border: 0;
    color: #fff;
    margin-right: 15px;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
  }
  .courses_btn {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
    font-size: 14px;
    font-weight: 500;
  }

  .notification_item {
    cursor: pointer;
    &:hover {
      background-color: var(--hover-bg);
    }
  }
}

@media only screen and (max-width: 415px) {
  .main_header_wrapper {
    padding: 0 10px 0 15px;
    .program_link,
    .user_info {
      display: none;
    }
    .notifi_icon {
      margin-right: 0;
    }
    .user_menu {
      padding: 5px 0 5px 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .mobile_header_menu {
    .user_mobile_info {
      text-align: right;
      .user_name {
        margin-bottom: 0;
      }
      .user_email {
        font-weight: 600;
        color: var(--primary);
      }
    }
    .menu_list {
      list-style: none;
      padding-left: 0;
      .menu_item {
        font-size: 15px;
        padding: 10px 30px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        &:hover {
          background-color: #878bf3;
          color: #fff;
          a {
            color: #fff;
            width: 100%;
          }
        }
      }
    }
  }
}
