.layout2_wrapper {
  display: flex;
  height: 100vh;

  .layout_header {
    padding: 40px 40px 0 40px;
  }
  .sider_content {
    flex-basis: 100%;
    height: 100vh;
    overflow-y: scroll;
    h3 {
      margin-top: 30px;
    }
  }
}
.badgeIndicator {
  color: #fff !important;
}
.spin_wrapper {
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .spin_icon {
    font-size: 60px;
  }
}
