.layout2_wrapper {
  position: relative;
  display: flex;
  height: 100vh;

  .layout_header {
    padding: 40px 40px 0 40px;
  }
  .sider_content {
    flex-basis: 100%;
    height: 100vh;
    overflow-y: scroll;
    h3 {
      margin-top: 30px;
    }
  }
}
.badgeIndicator {
  color: #fff !important;
}
.spin_wrapper {
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .spin_icon {
    font-size: 60px;
  }
}

.cardWrapper {
  min-width: 350px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--bg-primary);

  .name {
    font-size: 13px;
    color: var(--font-secondary);
    margin: 5px 0px;
    margin-top: 0px;
    font-weight: normal;
  }
  .editBtn {
    position: relative;
    cursor: pointer;
    i {
      position: absolute;
      left: -220px;
      fill: var(--font-secondary);
      stroke: var(--font-secondary);
    }
  }

  .otherUsersComment {
    flex-direction: row-reverse;
    .commentWrapper {
      border-radius: 8px;
      border-top-right-radius: 0px;
    }
  }
  .commentWrapper {
    background-color: var(--bg-secondary);

    height: 100%;
    padding: 10px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    p {
      color: var(--font-secondary);
      padding: 0;
      margin: 0;
    }
  }
}

.popconfirm_title {
  margin: -12px -12px 0px -12px;
  height: 40px;
  background-color: var(--bg-primary);
  color: var(--font-primary);

  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0px 10px;
}

.commentInputWrapper {
  background-color: var(--bg-primary);
  margin: 0px -12px -12px -12px;
  border: none;

  input {
    height: 40px;
    margin: 0px 0px 0px 10px;
  }
  .postBtn {
    height: 40px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    width: 80px;
    border-radius: 0px;

    border-bottom-right-radius: 8px;
    background-color: var(--bg-primary);
  }
}
.contentWrapper {
  height: 500px;
}

.responsiveNavContainer {
  display: none;
}

@media only screen and (max-width: 415px) {
  .responsiveNavContainer {
    background-color: var(--bg-primary);
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navTitle {
      font-size: 12px;
    }

    .selectedNavBar {
      color: var(--font-primary);
      width: 60px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      span {
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        background-color: var(--btn-primary);
      }
    }
    .navBar {
      width: 60px;

      color: var(--font-secondary);
      padding: 10px;
      span {
        display: none;
      }
    }
  }
}
