.learn_resource_page {
  background-color: var(--bg-primary);
  min-height: 100vh;
  .resource_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    .skeleton {
      width: 500px;
    }
    .course_breadcrumb {
      font-size: 23px;
      font-weight: 600;
      color: var(--font-secondary);
      .chapter_name {
        font-size: 1;
        font-size: 23px;
        font-weight: 400;
      }
    }
    .resource_content {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0 30px;
      margin-top: 20px;
    }

    .view_resource_container {
      flex-basis: 70%;

      .resource_player {
        position: relative;
        z-index: 1000;
        margin-bottom: 10px;
        height: 440px;

        .assignment_completed {
          height: 440px;
          width: auto;
          background-color: var(--bg-primary);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          line-height: 4;
          > div:first-child {
            color: var(--font-primary);
            font-size: 1.5rem;
          }
          .nextResBTn {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;
          }
        }

        .view_submit_assignment {
          background-color: var(--bg-secondary);
        }

        .assignment_submission_form {
          height: 440px;
          padding: 20px;
          background-color: var(--bg-primary);

          .assignment_score {
            font-size: 18px;
            font-weight: 500;
          }

          .evaluation_comments {
            margin-top: 20px;
            p {
              white-space: pre-wrap;
            }
          }
        }

        .resource_not_completed {
          position: relative;
          z-index: 1;

          background-color: var(--font-primary);
          height: 100%;
          width: 100%;

          .disabled_react_player {
            height: 100%;
            width: 100%;
            .returnText {
              cursor: pointer;
            }
            > div:first-child {
              height: 100%;
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              justify-content: center;
              gap: 10px;
              color: var(--bg-primary);
              font-size: 1.2rem;
              > div:last-child > .play_btn {
                font-size: 3rem;
              }
            }
          }

          .react_player {
            opacity: 0.2;
            margin-top: -440px;
            position: absolute;
            z-index: -1;
          }
        }
      }
      .resource_status_footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lecture_name {
          color: var(--font-primary);
        }

        .lecture_completed {
          background-color: var(--success);
        }
      }
      .about_resource_container {
        margin-top: 15px;
      }

      .course_overview {
        p {
          font-size: 18px;
        }
      }
    }
    .chapter_list_title {
      display: none;
    }
    .list_resource_items {
      flex-basis: 30%;
      background-color: var(--bg-primary);

      .lecture_item {
        width: 100%;
        padding: 10px 6px;
        border-bottom: 1px solid var(--border-color);
        position: relative;
        cursor: pointer;
        border-left: 3px solid transparent;
        .lecture_name {
          color: var(--font-primary);

          font-weight: 600;
        }
        .lecture_time {
          color: var(--font-secondary);
        }

        .checked_icon {
          position: absolute;
          right: 10px;
          top: 10px;
          color: var(--success);
        }
      }

      .slt_lecture {
        border-left-color: var(--font-secondary);
        background-color: var(--bg-secondary);

        img {
          height: 30px;
        }
      }
    }

    .qa_discussion_tab {
      display: flex;
      flex-direction: column;

      .qa_form {
        .qa_form_input {
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          background-color: var(--bg-primary);
        }
        .qa_form_footer {
          display: flex;
          justify-content: space-between;

          padding: 5px;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          border-top: 0;
          box-shadow: var(--box-shadow);
          background-color: var(--bg-primary);

          img {
            cursor: pointer;
          }
        }
      }

      .load_more_comment {
        font-weight: 500;
        color: var(--label-color);
      }
    }
  }
}

.user_info {
  margin-bottom: 5px;
  h4,
  h5 {
    margin: 0;
  }
  .resource_name {
    color: var(--font-primary);
  }
  .comment_time {
    color: var(--font-secondary);
  }
}

.reply_comment_section {
  margin-right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .qa_form {
    &:nth-child(1) {
      width: 90%;
    }
    &:nth-child(2) {
      width: 85%;
    }
  }

  .comment_box {
    width: 90%;
  }
}

.comment_box {
  margin-top: 15px;
  display: flex;
  gap: 10px;

  .comment {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--font-secondary);
    flex-basis: 94%;
    margin-bottom: 10px;

    .comment_body {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      background-color: var(--bg-primary);
      .actionDropdown {
        position: absolute;
        top: -3px;
        right: 10px;
        color: var(--font-secondary);
      }

      .tag_commented {
        padding: 5px 10px 15px 10px;
        margin: 5px 0;
        box-shadow: var(--box-shadow);
        border-radius: 8px;
        border-left: 3px solid var(--primary);
        cursor: pointer;
      }
      .comment_action_btns {
        position: absolute;
        top: -35px;
        right: 10px;
      }
      &:hover {
        .comment_action_btns {
          position: absolute;
          right: 10px;
          display: flex;
        }
      }
      .comment_body_header {
        display: flex;
        justify-content: space-between;
        .comment_action_btns {
          cursor: pointer;
        }
      }

      .comment_content {
        .comment_text_wrapper {
          border: 1px solid var(--border-color);
          padding: 10px;
          height: 100%;
          border-radius: 8px;
          border-top-left-radius: 0px;
          background-color: var(--bg-primary);
        }
        border-radius: 8px;
        white-space: pre-wrap;
        .qa_edit_input {
          min-height: 80px;
          background-color: var(--bg-primary);
        }
      }
    }
    .comment_footer {
      width: 100px;
      height: 41px;
      padding: 10px;
      border-bottom-right-radius: 8px;

      .reply_btn {
        font-size: 12px;
        display: inline;
        cursor: pointer;
        color: var(--ft-color);
        font-weight: 500;
        &:hover {
          text-decoration: underline;
          color: var(--font-secondary);
        }

        i {
          display: flex;
          font-size: 18px;
          cursor: pointer;
          color: var(--font-secondary);

          &:hover {
            color: var(--font-secondary);
          }
        }

        img {
          height: 18px;
        }
      }
    }
  }
}

.reply_drawer {
  position: relative;
  overflow-x: hidden;

  .headerWrapper {
    background-color: var(--bg-primary);
  }
  .bodyWrapper {
    overflow: auto;
    padding: 0px 15px;
    background-color: var(--bg-secondary);
  }
  .footerWrapper {
    border: none;
    background-color: var(--bg-primary);
    padding: 10px 15px;
    padding-bottom: 0;

    .editorActionWrapper {
      i {
        font-size: 18px;
      }
    }
  }
  .list_reply_cmt {
    height: 75vh;
    background-color: var(--bg-secondary);
    color: var(--font-primary);
    .comment_time {
      color: var(--font-secondary);
    }
  }
  .comment_box {
    gap: 0 10px;
    width: 100%;
  }

  .qa_form {
    max-width: 100%;
    border-radius: 8px;

    background-color: var(--bg-primary);
    margin-bottom: 8px;

    .qa_form_input {
      max-width: 100%;
      min-width: calc(100% - 100px);
    }

    .qa_form_footer {
      display: flex;
      justify-content: space-between;

      background-color: var(--bg-primary);

      img {
        cursor: pointer;
      }
    }
  }
}

.qa_form_footer {
  i {
    font-size: 16px;
  }
}

.comment_post_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

//pdf viewer

.pdf_container {
  height: 395px;
  overflow-y: scroll;
  .react-pdf__Page__canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.assignment_tab_container {
  background-color: var(--bg-asignment-tab);
}

.editorWrapper {
  padding: 20px;
  background-color: var(--bg-primary);
}
.code__editor_container {
  position: relative;
  z-index: 2;
  transition: all 0.4s ease;
}
.code__collapsed__editor__wrapper {
  width: calc(100vw - 560px);
}
.code__editor__wrapper {
  width: calc(100vw - 750px);
}
.code__editor__wrapper,
.code__collapsed__editor__wrapper {
  background-color: var(--bg-asignment-tab);
  position: relative;
  width: 100%;
  padding-top: 10px;
  .Segmented_wrapper {
    background-color: var(--segment-bg);
    color: var(--font-primary);
    padding-left: -20px;
    :hover {
      color: var(--font-primary);
    }
  }
  .status_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 15px;
  }
}

.editor_collapsed_container,
.collapsedFilesTab {
  width: calc(100vw - 700px);
}
.filesTab,
.editor_container {
  width: calc(100vw - 900px);
}

.discussionWrapper {
  padding: 20px 0px;
}
.files_list {
  width: 150px;
  background-color: var(--bg-primary);
  height: calc(100vh - 200px);
}
.tree_wrapper {
  position: relative;
  z-index: 1;
  background-color: var(--bg-code);
  padding: 30px 0px 0px 0px;
  height: calc(100vh - 200px);

  border-radius: 0px;
}
.editorTab {
  background-color: var(--bg-code);

  .activeTab {
    background-color: var(--bg-primary);
    color: var(--font-primary);
    padding: 5px 15px;
  }
  .inActiveTab {
    padding: 5px 15px;
  }
  > div:first-child {
    > div:first-child {
      > div:first-child {
        > div {
          margin: 0;
        }
      }
    }
  }
  > div:first-child::before {
    border: none;
  }

  > div {
    > div {
      > div {
        > div {
          padding: 5px;
          margin: 0;
        }

        > div:last-child {
          display: none;
        }
      }
    }
  }
  .ant-tabs-ink-bar {
    display: none;
  }
}
.selectedBranch {
  color: var(--font-primary);
  width: 140px;
}
.notSelectedBranch {
  width: 140px;
}
.qa_form {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.actionButtonWrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 41px;
  i {
    cursor: pointer;
    color: var(--font-secondary);
    line-height: 0;
  }
}

.action_divider {
  margin-bottom: -2px;
  font-size: 18px;
  border-inline-start: 1px solid var(--font-secondary);
}

.qa_form_input {
  color: var(--font-secondary);
  max-width: 100%;
  min-width: calc(100% - 101px);
}
.qa_form_action {
  background-color: var(--bg-primary);
  padding: 10px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 8px;
  width: 100px;
  .editorActionWrapper {
    i {
      font-size: 18px;
    }
  }

  i {
    cursor: pointer;
    color: var(--font-label);
    &:hover {
      color: var(--font-secondary);
    }
  }
}
.actionDropdown {
  position: absolute;
  top: 0px;
  right: 10px;
  color: var(--font-label);
}

.reply_comment_wrapper {
  background-color: var(--bg-primary);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  .comment_body {
    max-width: 100%;
    min-width: calc(100% - 97px);
  }
  .editActionDropdown {
    position: absolute;
    top: 0px;
    right: 10px;
    color: var(--font-label);
  }
}

.editted_comment_wrapper {
  background-color: var(--bg-primary);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  .comment_body {
    max-width: 100%;
    min-width: calc(100% - 104px);
    .editActionDropdown {
      position: absolute;
      top: 0px;
      right: 10px;
      color: var(--font-label);
    }
  }
}

.reply_edit_container {
  display: flex;
  align-items: center;
  padding: 10px;
  .code_icon {
    height: 18px;
  }
  .editorActionWrapper {
    i {
      font-size: 18px;
      color: var(--font-secondary);
    }
  }

  i {
    cursor: pointer;
    font-size: 18px;
    color: var(--font-secondary);
  }
}

.scoreWrapper {
  font-weight: normal;
  i {
    color: var(--font-secondary);
    font-size: 18px;
    height: 22px;
  }
  .dot {
    height: 4px;
    width: 4px;
    background-color: var(--font-secondary);
    border-radius: 50%;
  }
}
.selectIcon {
  color: var(--icon-color);
}
.selectClearIcon:hover {
  color: var(--icon-color);
}

@media only screen and (max-width: 435px) {
  .learn_resource_page {
    .resource_wrapper {
      padding: 100px 20px 20px 20px;
      .view_resource_container {
        flex-basis: 100%;
        .resource_player {
          height: 300px;
          .view_submit_assignment {
            height: 300px;
            overflow: auto;
          }
          .assignment_submission_form {
            height: 300px;
          }
        }
        .resource_status_footer {
          .lecture_name {
            font-size: 15px;
          }
          .lecture_time {
            color: var(--font-primary);
          }
          .lecture_completed,
          .lecture_status_btn {
            width: auto;
            background-color: var(--font-primary);
            font-size: 12px;
            height: 30px;
          }
        }
      }
      .chapter_list_title {
        margin: 20px 0 15px 0;
        display: block;
        color: var(--primary);
      }
    }
  }

  .reply_drawer {
    width: 370px;
  }

  .comment_box {
    gap: 0 7px;
  }
  .editorWrapper,
  .assignment_tab_container {
    width: calc(100vw - 40px);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 933px) and (orientation: landscape) {
  .editorWrapper,
  .assignment_tab_container {
    width: calc(100vw - 120px) !important;
    margin: 0 auto;
  }
}
