.learn_course_page {
  padding: 20px 40px;
  overflow-y: hidden;
  .lessons_video_player_wrapper {
    background-color: var(--bg-primary);
  }
  .video_container,
  .video_completed_screen {
    width: 800px;
    height: 450px;

    position: relative;
  }
  .video_completed_screen {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: var(--font-label);
    > div {
      margin-bottom: 20px;
    }
  }
  .learn_breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .lessons_container {
    overflow: hidden;
    height: 100%;
    .lessons_list_wrapper {
      margin-bottom: 20px;
    }
  }
}

.lockICon {
  color: #c4c4c4;
}
.lessonLabelContainer {
  min-width: 300px;

  .selected_bar {
    display: none;
  }
  .time_tag {
    color: var(--font-seconadary);
    background-color: var(--bg-secondary);
  }
}

.labelContainer {
  min-width: 300px;
  .selected_bar {
    display: none;
  }
  .time_tag {
    color: var(--font-seconadary);
    background-color: var(--bg-secondary);
  }
}
.timeContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  .lockICon {
    margin-bottom: -5px;
  }
}
.selectedLable {
  position: relative;
  min-width: 300px;

  background-color: var(--bg-selected);
  .time_tag {
    background-color: var(--bg-primary);
  }
  .title_container {
    color: var(--font-primary);
  }
  .selected_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 33px;
    background-color: var(--selected-side-bar);
  }
}
