.learn_course_page {
  padding: 20px 40px;
  overflow-y: hidden;
  .lessons_video_player_wrapper {
    width: 100%;
    padding-right: 20px;
  }
  .video_container,
  .video_completed_screen {
    width: 100%;
    height: 75vh;
    min-height: 400px;
    position: relative;
    background-color: black;
  }
  .segmented__test {
    background-color: #888;
  }
  .video_completed_screen {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: var(--font-label);
    > div {
      margin-bottom: 20px;
    }
  }
  .learn_breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: var(--font-secondary);
    a:hover {
      color: var(--font-primary);
    }
    // color: #939db8;
  }

  .lessons_container {
    min-height: 100vh;
    height: 100%;
    width: 425px;

    margin: -20px -40px -20px 0;
    background: var(--bg-primary);
    h2 {
      padding: 20px;
      color: var(--font-primary);
      margin-bottom: 0;
    }
    .lessons_list_wrapper {
      margin-bottom: 15px;
    }

    .lesson__default {
      border: none;
    }
    .lesson__selected {
      background-color: var(--bg-secondary);
      border-left: 3px solid var(--btn-primary);
      border-bottom: none;
    }

    .lesson__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px;

      &:hover {
        color: var(--font-primary);
      }
    }
  }
}

.lockICon {
  color: #c4c4c4;
}
.lessonLabelContainer {
  border-top: 2px solid var(--bg-secondary);

  min-width: 300px;

  .selected_bar {
    display: none;
  }
  .time_tag {
    color: var(--font-seconadary);
    background-color: var(--bg-secondary);
  }
}

.labelContainer {
  min-width: 300px;
  .selected_bar {
    display: none;
  }
  .time_tag {
    color: var(--font-seconadary);
    background-color: var(--bg-secondary);
  }
}
.timeContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  .lockICon {
    margin-bottom: -5px;
  }
}
.selectedLable {
  position: relative;
  min-width: 300px;

  background-color: var(--bg-secondary);
  .time_tag {
    background-color: var(--bg-primary);
  }
  .title_container {
    color: var(--font-primary);
  }
  .selected_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 33px;
    background-color: var(--bg-secondary);
  }
}
