.learn_course_page {
  padding: 20px 0 0 20px;
  overflow-y: hidden;
  display: flex;
  gap: 20px;

  .responsive_action_btn {
    display: none;
  }
  .lessons_video_player_wrapper {
    width: calc(100vw - 720px);
  }
  .video_container,
  .certificatePage {
    width: 100%;
    aspect-ratio: 16/9;
    min-height: 400px;
    position: relative;
    background-color: var(--bg-primary);
  }

  .certificatePage {
    .generating_loader {
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: -70px;
        width: 150px;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-primary);
    p {
      color: var(--font-secondary);
      font-size: 15px;
      margin-top: 10px;
    }
    .certificateBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      h1 {
        color: var(--font-primary);
      }
      button {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .video_completed_screen {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: var(--font-label);
    > div {
      margin-bottom: 20px;
    }
  }
  .learn_breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: var(--font-secondary);
    a:hover {
      color: var(--font-primary);
    }
    // color: #939db8;
  }
  .lesson_wrapper {
    position: relative;
    width: 420px;

    .lessons_container {
      min-height: 100vh;
      position: fixed;
      right: 14px;
      top: 0px;
      width: 420px;
      overflow: auto;
      height: 100%;
      background: var(--bg-primary);
      h2 {
        padding: 20px;
        color: var(--font-primary);
        margin-bottom: 0;
      }
      .lessons_list_wrapper {
        margin-bottom: 15px;
      }

      .lesson__default {
        border: none;
      }
      .lesson__selected {
        background-color: var(--bg-secondary);
        border-left: 3px solid var(--btn-primary);
        border-bottom: none;
      }

      .lesson__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;

        &:hover {
          color: var(--font-primary);
        }
      }
    }
  }
}

.lockICon {
  color: #c4c4c4;
}
.lessonLabelContainer {
  border-top: 2px solid var(--bg-secondary);

  min-width: 300px;

  .selected_bar {
    display: none;
  }
  .time_tag {
    color: var(--font-seconadary);
    background-color: var(--bg-secondary);
  }
}

.labelContainer {
  min-width: 300px;
  .selected_bar {
    display: none;
  }
  .time_tag {
    color: var(--font-seconadary);
    background-color: var(--bg-secondary);
  }
}
.timeContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  .lockICon {
    margin-bottom: -5px;
  }
}
.selectedLable {
  position: relative;
  min-width: 300px;

  background-color: var(--bg-secondary);
  .time_tag {
    background-color: var(--bg-primary);
  }
  .title_container {
    color: var(--font-primary);
  }
  .selected_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 33px;
    background-color: var(--bg-secondary);
  }
}

@media only screen and (max-width: 415px) {
  .learn_course_page {
    padding: 20px;
    min-height: 100vh;
    margin-bottom: 60px;
    .responsive_action_btn {
      margin-bottom: 20px;
      display: flex;
      .goBackArrow {
        width: 20px;
        height: 20px;
      }
    }

    .lessons_video_player_wrapper {
      width: calc(100vw - 40px);
    }

    .video_container,
    .certificatePage {
      width: calc(100vw - 40px);
      aspect-ratio: 16/9;
      min-height: calc(50vw);
      position: relative;
      background-color: var(--bg-primary);
    }

    .certificatePage {
      .generating_loader {
        p {
          position: absolute;
          top: 50%;
          left: -70px;
          width: 150px;
        }
      }

      .certificateBtn {
        padding: 0px 20px;
        gap: 20px;
        h1 {
          color: var(--font-primary);
          text-align: center;
          font-size: 16px;
        }
        button {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .learn_breadcrumb {
      display: none;
    }
    .lesson_wrapper {
      position: relative;
      width: calc(100vw - 40px);

      .lessons_container {
        min-height: 100%;
        position: relative;
        right: 0px;
        top: 0px;
        width: calc(100vw - 40px);

        .lessons_list_wrapper {
          margin-bottom: 15px;
        }
      }
    }
  }
}
