.login_page_wrapper {
  background-color: var(--bg-secondary);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin_loader {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.login_page_wrapper > div {
  width: 50vw;
  padding: 20px;
}

.login_img {
  background-color: var(--bg-primary);
  text-align: center;

  h3 {
    font-size: 24px;
    color: var(--font-primary);
    text-align: center;
  }

  p {
    text-align: center;
    max-width: 500px;
    color: var(--font-secondary);
    margin: 10px auto;
  }
}

.social_login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px 0;
  background-color: var(--bg-secondary);
  padding: 20px;

  & > img {
    height: 60px;
  }
}

.social_login_container .google_btn,
.social_login_container .github_btn {
  width: 240px;
  height: 40px;
  display: flex;
  gap: 0 8px;
  align-items: center;
  justify-content: center;

  img {
    height: 25px;
    width: auto;
  }
}

.social_login_container h3 {
  color: var(--font-primary);
}

@media only screen and (max-width: 415px) {
  .alertMessage {
    width: calc(100vw - 40px);
    height: 100%;
    padding: 10px;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
  }
}
