.heroWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;

  .heroWave {
    stroke: var(--wave-color);
  }

  .heroContentContainer {
    position: relative;
    z-index: 1;
    width: 700px;
    margin: 0 auto;

    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 72px;
      font-weight: 900;
      text-align: center;
    }
    p {
      color: var(--font-secondary);
      text-align: center;

      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 40px;
    }
    button {
      width: 250px;
    }
  }

  .heroWaveIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .dotPatternIcon {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}

.hamburger {
  display: none;
}
@media only screen and (max-width: 415px) {
  .heroWrapper {
    .heroContentContainer {
      width: 350px;
      height: 100vh;
      h1 {
        font-size: 35px;
      }

      button {
        width: 100%;
      }
    }

    .heroWaveIcon {
      position: absolute;
      top: 0;
      right: 0;
    }
    .dotPatternIcon {
      display: none;
    }
  }
  .hamburger {
    display: unset;
    color: var(--font-primary);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}
