.navBarContainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  z-index: 1;
  nav {
    margin: 20px 0px;
    background-color: var(--bg-primary);
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: var(--box-shadow);

    h4 {
      margin: 0;
      padding: 0;
      color: var(--font-primary);
      font-size: 20px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      margin: 0;
      li {
        font-size: 16px;
        color: var(--font-secondary);
        &:hover {
          color: var(--font-primary);
        }
        list-style: none;
      }
    }
    .switchBtn {
      background-color: var(--bg-secondary);
      border-color: var(--bg-secondary);
      color: var(--font-primary);
    }

    button {
      border-radius: 30px;
      width: 150px;
    }
  }
}

// about

.aboutContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
  }
  .cardWrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    .card {
      border-radius: 15px;
      box-shadow: var(--hd-box-shadow);
      background-color: var(--mktg-card-bg);

      max-width: 300px;
      height: 350px;
      .icon {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0px;
      }
      .content {
        height: 50%;
        padding: 10px 20px;
        background-color: var(--bg-primary);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        h4 {
          color: var(--font-primary);
          font-size: 20px;
        }
        p {
          color: var(--font-secondary);
          line-height: 1.5;
        }
      }
    }
  }
  .paceYourLearning {
    width: 960px;
    border-radius: 15px;
    box-shadow: var(--hd-box-shadow);
    background-color: var(--bg-primary);
    margin: 40px 0px;
    display: flex;

    > div:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 200px;
      background-color: var(--mktg-card-bg);
    }
    > div:last-child {
      padding: 20px;
      h4 {
        color: var(--font-primary);
        font-size: 20px;
      }
      p {
        color: var(--font-secondary);
        max-width: 400px;
        line-height: 1.5;
      }
      button {
        width: 300px;
      }
    }
  }
}

//footer

.footerContainer {
  background-color: #000;
  color: #fff;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 120px;
    align-items: flex-start;
    > div:first-child {
      display: flex;
      flex-direction: column;
      .socialIcons {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .linkWrapper {
      display: flex;
      gap: 120px;
      .linkList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            padding-top: 10px;
            color: var(--font-secondary);
            cursor: pointer;
            &:hover {
              color: var(--hover-text);
            }
          }
        }
      }
    }
  }
}

.sideNaveContainer {
  background-color: red;
  display: none;
}

@media only screen and (max-width: 415px) {
  .sideNaveContainer {
    position: relative;
    z-index: 2;
    display: block;
    background-color: var(--bg-primary);

    .platformLogo {
      padding: 10px;
      color: var(--font-primary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .switchBtn {
        background-color: var(--bg-secondary);
        border-color: var(--bg-secondary);
        color: var(--font-primary);
      }
    }
    .animateContainer {
      position: fixed;
      z-index: 2;
      height: 100vh;

      background-color: var(--bg-primary);
    }
    .links__text {
      font-size: 25px;
      padding: 20px;
      color: var(--font-secondary);
    }
  }
  .navBarContainer {
    display: none;
  }

  .aboutContainer {
    .cardWrapper {
      flex-direction: column;
    }
    .paceYourLearning {
      width: 100%;
      flex-direction: column;
      > div:first-child {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
      }
      > div:last-child {
        .buttonWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          width: 200px;
        }
      }
    }
  }
  .footerContainer {
    footer {
      gap: 40px;

      flex-direction: column-reverse;

      > div:first-child {
        flex-direction: row;
        align-items: center;
        gap: 60px;

        .socialIcons {
          margin: 0;
        }
      }
      .linkWrapper {
        display: grid;

        grid-template-columns: repeat(2, 1fr);

        flex-direction: column;

        gap: 40px;

        .linkList {
          flex-direction: column;
        }
      }
    }
  }
}
