.preview_container {
  padding: 40px;
  .coursehHeaderLinks {
    font-size: 20;
    color: var(--font-secondary);
    a:hover {
      color: var(--font-primary);
    }
  }
  .video_container {
    .spin_wrapper {
      position: absolute;
      top: 160px;
      left: 385px;

      .loading_icon {
        font-size: 30px;
      }
    }
    width: 800px;
    height: 450px;
    margin-bottom: 20px;
    background-color: var(--bg-primary);
    position: relative;
  }

  .course__info {
    width: 800px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
      color: var(--font-secondary);
    }
    h2,
    p {
      margin: 0;
      padding: 0;

      max-width: 600px;
    }

    p {
      color: var(--font-secondary);
    }

    .save_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .chapter_list {
    width: 800px;
    margin: 20px 0px;

    .resContainer {
      height: 35px;
      border-bottom: 1px solid var(--border-color);
      padding: 5px 0px;
      padding-left: 20px;
    }
  }
  .time_tag {
    color: var(--font-secondary);
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 415px) {
  .preview_container {
    padding: 20px;
    .chapter_list {
      width: calc(100vw - 40px);
    }

    .course__info {
      width: calc(100vw - 40px);
      flex-direction: column;
      gap: 20px;

      h2,
      p {
        max-width: 300px;
      }

      p {
        color: var(--font-secondary);
      }
    }

    .video_container {
      .spin_wrapper {
        position: absolute;

        top: 55px;
        left: calc(50vw - 40px);

        .loading_icon {
          font-size: 30px;
        }
      }
      width: calc(100vw - 40px);

      height: calc(50vw);

      margin-bottom: 20px;
      background-color: var(--bg-primary);
      position: relative;
    }
  }
}
