.preview_container {
  padding: 40px;
  .video_container {
    width: 800px;
    height: 450px;

    position: relative;
  }

  .video_player_info {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(4, 0, 0, 0.2), rgba(4, 0, 0, 2), rgba(0, 0, 0, 5));

    width: 800px;

    h2,
    p {
      margin: 0;
      padding: 0;
      color: #fff;

      max-width: 400px;
    }

    p {
      color: #888;
    }
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .save_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .chapter_list {
    width: 800px;
    margin: 20px 0px;

    .resContainer {
      height: 35px;

      border-bottom: 1px solid #a7a4a4b9;

      padding: 5px 0px;
      padding-left: 20px;
    }
  }
  .time_tag {
    color: #666;
    padding: 0px 10px;
  }
}
