.preview_container,
.add_preview_container {
  .coursehHeaderLinks {
    color: var(--font-secondary);
    a:hover {
      color: var(--font-primary);
    }
  }
  .video_container {
    .spin_wrapper {
      position: absolute;
      top: 160px;
      left: 385px;

      .loading_icon {
        font-size: 30px;
      }
    }
    width: 800px;
    height: 450px;
    margin-bottom: 20px;
    background-color: var(--bg-primary);
    position: relative;
  }

  .course__info {
    width: 800px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
      color: var(--font-secondary);
    }
    h2,
    p {
      margin: 0;
      padding: 0;

      max-width: 600px;
    }

    p {
      color: var(--font-secondary);
    }

    .save_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 2px 15px;
      height: 100%;
      .lockIcon {
        padding-top: 5px;
      }
    }
    .coursePrice {
      font-size: 30px;
      color: var(--font-primary);
      i {
        color: var(--font-secondary);
      }
    }
  }

  .chapter_list {
    width: 800px;
    margin: 20px 0px;

    .resContainer {
      height: 35px;
      border-bottom: 1px solid var(--border-color);
      padding: 5px 0px;
      padding-left: 20px;
    }
  }
  .time_tag {
    color: var(--font-secondary);
    padding: 0px 10px;
  }
}

.add_preview_container {
  padding: 0px;
}
.preview_container {
  padding: 20px 40px;
}

.alertMessage {
  width: 800px;
  height: 100px;
  padding: 10px;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  margin-left: 40px;
  margin-top: 20px;
  h4 {
    color: var(--font-primary);
  }
  a {
    color: var(--btn-primary);
  }
}

@media only screen and (max-width: 435px) {
  .preview_container {
    padding: 20px;
    min-height: 100vh;
    margin-bottom: 60px;
    .coursehHeaderLinks {
      .courseName {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 200px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: nowrap;
      }
    }
    .chapter_list {
      width: calc(100vw - 40px);
      .resContainer {
        height: unset;
      }
    }

    .course__info {
      width: calc(100vw - 40px);
      flex-direction: column;
      gap: 20px;

      h2,
      p {
        max-width: 300px;
      }

      p {
        color: var(--font-secondary);
      }
    }

    .video_container {
      .spin_wrapper {
        position: absolute;

        top: 55px;
        left: calc(50vw - 40px);

        .loading_icon {
          font-size: 30px;
        }
      }
      width: calc(100vw - 40px);

      height: calc(50vw);

      margin-bottom: 20px;
      background-color: var(--bg-primary);
      position: relative;
    }
  }
  .alertMessage {
    width: calc(100vw - 40px);
    margin-left: 20px;
    height: 150px;
  }
}

@media only screen and (max-width: 933px) and (orientation: landscape) {
  .preview_container {
    padding: 10px 40px;
  }

  .preview_container {
    margin-left: 60px;
    .course__info {
      width: calc(100vw - 120px);
    }
    .chapter_list {
      width: calc(100vw - 120px);
    }
    .video_container {
      .spin_wrapper {
        position: absolute;

        top: 55px;
        left: calc(50vw - 40px);

        .loading_icon {
          font-size: 30px;
        }
      }
      width: calc(100vw - 120px);

      height: calc(50vw - 30px);

      margin-bottom: 20px;
      background-color: var(--bg-primary);
      position: relative;
    }
  }
  .alertMessage {
    width: calc(100vw - 120px);
    margin-left: 100px;
  }
}
