.user_profile_page {
  .content_center {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 0 40px;
  }

  .left_content {
    .user_profile_pic {
      box-shadow: var(--hd-box-shadow);
      border: 4px solid var(--bg-primary);
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
  }

  .right_content {
    width: 50%;
    .user_profile_form {
      width: 100%;

      input {
        color: var(--font-secondary);
      }
      .update_profile_btn {
        padding: 0 40px;
        margin-top: 20px;
        background-color: var(--font-primary);
      }
    }
  }
}

.upload__thumbnail {
  > div:first-child {
    height: 150px !important;
    width: 150px !important;
    border-radius: 50% !important;
  }
  & > div {
    height: 200px;
    width: 200px;
    position: relative;
  }
  right: 50%;
  .bannerStatus {
    color: var(--font-primary);
    position: absolute;
    top: 70%;
  }
  .upload_img_button {
    color: var(--font-secondary);
  }

  .camera_btn_img,
  .camera_btn {
    background-color: var(--bg-secondary);

    height: 36px;
    width: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-primary);
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--font-label);
    }

    & > span {
      position: absolute;
      top: 30%;
      right: 35%;
    }

    & > svg {
      position: absolute;
    }
  }
}

@media only screen and (max-width: 415px) {
  .user_profile_page {
    padding: 120px 20px 60px 20px;
    .content_center {
      flex-direction: column;
      gap: 50px 0;
      align-items: center;
      .left_content {
        .user_profile_pic {
          width: 160px !important;
          height: 160px !important;
        }
      }

      .right_content {
        width: 100%;
        .page_title {
          font-size: 1.6rem;
        }
        .update_profile_btn {
          width: 100%;
        }
      }
    }
  }
}
