.ProgramOverview {
  height: 100%;
  background-color: var(--font-primary);
  .ProgramOverviewWrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 100px 0px 20px;

    .bannerWrapper {
      max-width: 1000px;
      img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
      }
    }
    h1 {
      color: var(--bg-primary);
    }
    p {
      color: var(--bg-secondary);
    }
  }
}
