.main_sider {
  height: 100vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-right: 1px solid var(--border-color);

  .logo {
    padding: 15px 16px 30px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
  }

  .user_profile {
    width: 100%;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: var(--bg-secondary);
    h4 {
      color: var(--font-primary);
    }

    h4,
    h5 {
      margin: 0 0 2px 0;
    }
    h5 {
      font-size: 12px;
      color: var(--font-secondary);
    }
  }

  .collapsed_btn {
    position: absolute;
    width: 30px;
    height: 34px;

    background-color: var(--btn-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    color: #fff;
    border-right: 0;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }

  .not_collapsed {
    right: 0;
    top: 18px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .collapsed {
    right: -30px;
    top: 18px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0;
    border-right: 1px solid var(--border-color);
  }
  .sidebar_dropdown_icon {
    color: var(--font-secondary);
  }
}
