//NavBar

.navBarContainer {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    position: absolute;
    background-color: var(--bg-primary);
    height: 50px;
    width: 800px;
    top: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: var(--box-shadow);
    .contact_button {
      width: 100%;
      padding: 0px 15px;
    }
    .button_icon {
      line-height: 0;
    }

    h1 {
      margin: 0;
      padding: 0;
      color: var(--font-primary);
      font-size: 20px;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      margin: 0;

      li {
        font-size: 16px;
        color: var(--font-secondary);

        &:hover {
          color: var(--font-primary);
        }

        list-style: none;
        cursor: pointer;
      }
    }

    .switchBtn {
      height: 30px;
      width: 30px;
      background-color: var(--bg-primary);
      border: none;
      color: var(--font-primary);
    }

    button {
      border-radius: 30px;
      width: 150px;
    }
  }
}

.sideNaveContainer {
  display: none;
}

.platformNameLogo {
  display: none;
}

.btn__signup {
  background-color: var(--btn-primary);
  padding: 5px 15px;
  display: inline-block;
  line-height: 1.9;
  border-radius: 4px;
  color: white;
}

.btn__contact {
  background-color: #cf6c66a1;
  padding: 5px 15px;
  display: inline-block;

  line-height: 1.9;
  border-radius: 4px;
  color: white;

  &:hover {
    background-color: #cf6c66d4;
  }
}

// Hero

.heroWrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  background: var(--hero-gradient);
  min-height: 50vh;

  .heroContentContainer {
    position: relative;
    width: 700px;
    margin: 0 auto;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .preview__tag {
      padding: 10px 15px;
      color: var(--font-trainer-primary);
      background: var(--tag-preview);
      border-radius: 50em;
      border: 4px solid transparent;
      margin-bottom: 25px;
    }

    del {
      color: var(--strike);
    }

    h1 {
      font-size: 72px;
      font-weight: 900;
      text-align: center;
    }

    p {
      color: var(--font-secondary);
      text-align: center;
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 40px;
      padding: 0 20px;
    }

    button {
      font-size: 16px;
      height: 50px;
    }
  }

  .heroWaveIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dotPatternIcon {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}

.hamburger {
  display: none;
}

.platformNameLogo {
  display: none;
}

// Course Category

.odd__category {
  background-color: var(--bg-secondary);
}

.even__category {
  background-color: var(--segment-bg);
}

.hero__img {
  width: 100%;
  text-align: center;

  & > img {
    margin: -200px auto 50px;
    margin-top: -200px;
    z-index: 5;
    position: relative;
  }
}

.course__category {
  margin: 0 auto;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;

  .tag__stage {
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    background: linear-gradient(120deg, rgba(13, 18, 98, 1) 0%, rgba(242, 124, 101, 1) 100%);
  }

  i {
    position: absolute;
    top: -50px;
    width: 600px;
    height: 700px;
  }

  & > div {
    display: flex;
    max-width: var(--marketing-container-width);

    margin: 0 auto;
    gap: 40px;
  }

  h2 {
    font-size: 70px;
    margin-top: 20px;
    background: -webkit-linear-gradient(120deg, rgb(97, 106, 230) 0%, rgba(242, 124, 101, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: var(--font-secondary);
    line-height: 1.4;
  }

  .rtl {
    flex-direction: row-reverse;
  }

  .category__detail {
    position: relative;
    z-index: 1;
    width: 540px;

    .cardWrapper {
      width: 250px;
      height: 120px;
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;

      row-gap: 20px;

      p {
        color: var(--font-primary);
      }

      > div {
        background-color: var(--bg-primary);

        .tags {
          background-color: var(--bg-tag);
          color: var(--font-tag);
        }
      }
    }

    .course__title {
      margin-bottom: 10px;
    }
  }
}

// About

.aboutContainer {
  background-color: var(--segment-bg);

  & > div {
    margin: 0 auto;
    width: var(--marketing-container-width);

    padding: 100px 20px;
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;
  }

  h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
  }

  .cardWrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    .card {
      border-radius: 15px;
      box-shadow: var(--hd-box-shadow);
      background-color: var(--mktg-card-bg);

      max-width: 300px;
      height: 350px;

      .icon {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0px;
      }

      .content {
        height: 50%;
        padding: 10px 20px;
        background-color: var(--bg-primary);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        h2 {
          color: var(--font-primary);
          font-size: 20px;
        }

        p {
          color: var(--font-secondary);
          line-height: 1.5;
        }
      }
    }
  }
}

// Get Started
.get__started {
  background: var(--hero-gradient);
  margin: 0;

  & > div {
    margin: 0 auto;
    width: var(--marketing-container-width);

    padding: 100px 20px;
    text-align: center;
  }

  p {
    color: var(--font-secondary);
    max-width: 500px;
    margin: 10px auto 30px auto;
    line-height: 1.4;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--font-primary);
  }
}

// Footer

.footerContainer {
  background-color: #000;
  color: #fff;
  padding: 40px 0px;

  footer {
    max-width: var(--marketing-container-width);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h1 {
      color: #fff;
    }

    > div:first-child {
      display: flex;
      flex-direction: column;

      .socialIcons {
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        fill: #fff;
      }

      i {
        fill: #fff;
      }
    }

    .linkWrapper {
      display: flex;
      gap: 100px;

      .linkList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .title {
          margin-top: 5px;
          font-size: 16px;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            padding-top: 10px;
            color: var(--font-footer);
            cursor: pointer;

            &:hover {
              color: var(--hover-text);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 435px) {
  // NavBar
  .sideNaveContainer,
  .platformNameLogo {
    display: unset;
  }

  .switchBtn {
    height: 30px;
    width: 30px;
    background-color: var(--bg-secondary);
    border: none;
    color: var(--font-primary);
  }

  .drawerHeader {
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
    font-size: 20px;

    .drawerTitle,
    .childrenDrawerTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .childrenDrawerTitle {
      margin: 0;
      height: 40px;
      font-size: 20px;
    }
  }

  .hero__img {
    & > img {
      margin: -100px auto 50px;
    }
  }

  .coursesListWrapper {
    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .coursesLabel {
      font-size: 18px;
      color: var(--font-primary);
      padding: 10px 0px;
    }

    .childrenWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      li {
        display: flex;
        align-items: center;
        padding: 5px 10px;

        border-radius: 8px;
        width: 100%;

        color: var(--font-secondary);
      }
    }
  }

  .menuDrawer > .drawerMenuItems {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    padding: 20px 0px;
    color: var(--font-secondary);

    .menuTitle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        margin-top: 5px;
      }
    }
  }

  .navBarContainer {
    display: none;
  }

  //children

  .children_wrapper {
    background-color: var(--bg-secondary);
  }

  // Hero

  .heroWrapper {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .heroContentContainer {
      width: 100vw;
      padding: 150px 0;

      h1 {
        font-size: 35px;
      }

      button {
        max-width: 200px;
      }
    }

    .heroWaveIcon {
      position: absolute;
      top: 0;
      right: 0;
    }

    .dotPatternIcon {
      display: none;
    }
  }

  .hamburger {
    display: unset;
    color: var(--font-primary);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
  }

  .platformNameLogo {
    display: unset;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    color: var(--font-primary);
  }

  // Course Catgory

  .course__category {
    padding: 50px 20px;
    i {
      height: 600px;
      width: 400px;
      overflow: hidden;
    }

    h2 {
      font-size: 50px;
    }

    .rtl {
      flex-direction: column;
      align-items: flex-end;
    }

    & > div {
      flex-direction: column;

      img {
        height: 250px;
        width: auto;
      }
    }

    .category__detail {
      width: 100%;
      padding: 10px;

      .cardWrapper {
        width: 160px;
        height: 100%;
      }

      h1 {
        font-size: 40px;
        max-width: 250px;
      }

      p {
        line-height: 1.5;

        max-width: 300px;
      }

      & > div {
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: 100%;

        p {
          color: var(--font-primary);
        }

        > div {
          background-color: var(--bg-primary);

          .tagWrapper {
            line-height: 2;

            .tags {
              background-color: var(--bg-tag);
              color: var(--font-tag);
            }
          }
        }
      }
    }
  }

  // About

  .aboutContainer {
    & > div {
      max-width: 100vw;
    }

    .cardWrapper {
      flex-direction: column;
    }
  }

  .get__started {
    & > div {
      max-width: 100vw;
    }
  }

  // Footer

  .footerContainer {
    padding: 20px;
    display: flex;

    footer {
      width: calc(100vw - 40px);
      gap: 40px;
      flex-direction: column-reverse;

      > div:first-child {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 70px;
        .socialIcons {
          margin: 0;
        }
      }

      .linkWrapper {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .linkList {
          flex-direction: column;

          .title {
            font-size: 16px;
          }
        }
      }
    }
  }
}
