.course__category {
  margin: 50px 0;
  position: relative;

  i {
    position: absolute;
    top: -50px;
    width: 600px;
    height: 700px;
  }

  & > div {
    display: flex;
    gap: 40px;
  }

  .rtl {
    flex-direction: row-reverse;
  }

  .category__detail {
    position: relative;
    z-index: 1;
    width: 540px;
    .cardWrapper {
      width: 250px;
    }
    h1 {
      font-size: 72px;
      background: -webkit-linear-gradient(#eee, #333);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      color: var(--font-secondary);
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;

      row-gap: 20px;
      p {
        color: var(--font-primary);
      }
      > div {
        background-color: var(--bg-primary);
        .tags {
          background-color: var(--bg-tag);
          color: var(--font-secondary);
        }
      }
    }

    .course__title {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 415px) {
  .course__category {
    i {
      height: 600px;
      width: 400px;
      overflow: hidden;
    }
    .rtl {
      flex-direction: column;
      img {
        transform: scaleX(-1);
      }
    }
    & > div {
      flex-direction: column;

      img {
        height: 250px;
        width: auto;
      }
    }
    .category__detail {
      width: 100%;
      padding: 10px;

      .cardWrapper {
        width: 160px;
      }

      h1 {
        font-size: 40px;
        max-width: 250px;
      }
      p {
        line-height: 1.5;

        max-width: 300px;
      }
      & > div {
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: 100%;

        p {
          color: var(--font-primary);
        }
        > div {
          background-color: var(--bg-primary);
          .tagWrapper {
            line-height: 2;
            .tags {
              background-color: var(--bg-tag);
              color: var(--font-secondary);
            }
          }
        }
      }
    }
  }
}
