.contact_wrapper {
  max-width: var(--marketing-container-width);

  margin: 0 auto;
  padding: 50px 0;
  .detail_title {
    color: var(--font-primary);
    font-size: 16px;
    min-width: 170px;
  }
  span {
    color: var(--label-color);
  }
  .detail_description {
    color: var(--font-secondary);
    margin-left: 15px;
  }
}

@media only screen and (max-width: 435px) {
  .contact_wrapper {
    padding: 50px 20px;
    .detail_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .detail_title {
      font-size: 12px;
      min-width: 120px;
    }
    span {
      margin-top: -3px;
    }

    .detail_description {
      margin-left: 10px;
      line-height: 1.5;
      font-size: 12px;
      max-width: 150px;
    }
  }
}
