.coursePreview {
  background-color: var(--segment-bg);
  .coursePreviewContainer {
    max-width: var(--marketing-container-width);

    margin: 0 auto;

    .descriptionWrapper {
      display: flex;
      flex-direction: column;

      padding: 20px 0px;
      p {
        color: var(--font-secondary);
        line-height: 1.5;
      }
    }

    .courseEnrollmentCard {
      border-radius: 8px;
      background-color: var(--bg-primary);
      padding: 0;
      margin: 30px 0px 40px 0px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 375px;

      .cardWrapper {
        padding: 0px;
        img {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
          height: 375px;
          width: 375px;
        }
        .cardDetail {
          i {
            stroke: var(--font-secondary);
          }
          > div:first-child {
            background-color: var(--ft-color-dull);
            padding: 15px;
            font-size: 18px;
            font-weight: 500;

            color: var(--font-primary);
          }
          > div:nth-child(2) {
            padding: 10px;

            margin: 10px 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: var(--font-secondary);
          }
        }
        .buttonWrapper {
          padding-bottom: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            width: 100%;
            height: 40px;
            margin: 0 10px;
          }
        }
      }
    }
    .chapter_list {
      margin-bottom: 40px;
      width: 600px;
      padding-bottom: 40px;
      h1 {
        font-size: 25px;
        margin-bottom: 20px;
      }
      .resContainer {
        min-height: 35px;
        border-bottom: 1px solid var(--border-color);
        padding: 5px 0px;
        padding-left: 20px;
      }
      .time_tag {
        color: var(--font-secondary);
        padding: 0px 10px;
      }
    }
  }
}
.contentWrapper {
  max-width: var(--marketing-container-width);

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 20px;

  gap: 25px;
  div:first-child {
    h1 {
      font-size: 35px;
    }
  }
  .videoContainer {
    width: var(--marketing-container-width);

    height: 565px;
    border-radius: 8px;
    background-color: var(--bg-primary);
    position: relative;
  }
  .authorInfo {
    img {
      height: 60px;
      width: 60px;
      border-radius: 8px;
    }

    .userOutlineContainer {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: var(--bg-primary);
      font-size: 24px;
    }
    span {
      color: var(--font-secondary);
    }
    div {
      color: var(--font-primary);
    }
  }
}
.courseInfoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

@media only screen and (max-width: 435px) {
  .coursePreview {
    .coursePreviewContainer {
      .descriptionWrapper {
        padding: 20px 10px;
        width: 90vw;

        h2 {
          font-size: 20px;
          margin-bottom: 5px;
        }
      }
      .chapter_list {
        width: 90vw;
        margin: 0 auto;

        h1 {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .courseEnrollmentCard {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90vw;

        margin: -20px auto 20px auto;

        .cardWrapper {
          width: 100%;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }

          .buttonWrapper {
            button {
              width: 100%;
              margin: 0px 10px;
            }
          }
        }
      }
    }
  }
  .courseInfoWrapper {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contentWrapper {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
    div:first-child {
      h1 {
        font-size: 24px;
        margin: 60px 0px 10px 0px;
      }
    }
    .videoContainer {
      display: flex;
      aspect-ratio: 16/9;
      align-items: center;
      justify-content: center;
      width: 90vw;
      margin: 0 auto;
      margin-top: 10px;
      height: 100%;
    }
    .authorInfo {
      img {
        height: 50px;
        border-radius: 8px;
        width: 50px;
      }
    }
  }
}
